openapi: 3.0.3
info:
  description: |-
    Provides a set of endpoints to manage Arduino IoT Cloud **Devices**, **Things**, **Properties** and **Timeseries**. This API can be called just with any HTTP Client, or using one of these clients:

    * [Javascript NPM package](https://www.npmjs.com/package/@arduino/arduino-iot-client)

    * [Python PYPI Package](https://pypi.org/project/arduino-iot-client/)

    * [Golang Module](https://github.com/arduino/iot-client-go)
  title: Arduino IoT Cloud API
  version: "2.0"
servers:
- url: https://api2.arduino.cc/iot
paths:
  /v1/lora-devices/:
    put:
      description: "Create a new lora device. Its info are saved on our database,\
        \ and on the lora provider network. Creates a device_v2 automatically"
      operationId: lora_devices_v1#create
      parameters:
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoraDevicesV1Payload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateLoraDevicesV1Payload'
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/vnd.arduino.loradevicev1+json:
              schema:
                $ref: '#/components/schemas/ArduinoLoradevicev1'
          description: Created
      summary: create lora_devices_v1
      tags:
      - lora_devices_v1
  /v1/lora-freq-plans/:
    get:
      description: List the lora frequency plans supported
      operationId: lora_freq_plan_v1#list
      responses:
        "200":
          content:
            application/vnd.arduino.lorafreqplansv1+json:
              schema:
                $ref: '#/components/schemas/ArduinoLorafreqplansv1'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoLorafreqplansv1'
          description: OK
        "401":
          content:
            application/vnd.arduino.lorafreqplansv1+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/vnd.arduino.lorafreqplansv1+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: list lora_freq_plan_v1
      tags:
      - lora_freq_plan_v1
  /v1/network_credentials/{type}:
    get:
      description: Show required network credentials depending on device type
      operationId: network_credentials_v1#show
      parameters:
      - description: Connection used by the device
        explode: true
        in: query
        name: connection
        required: false
        schema:
          enum:
          - wifi
          - eth
          - wifiandsecret
          - gsm
          - nb
          - lora
          - catm1
          - cellular
          type: string
        style: form
      - description: Device type
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - mkrwifi1010
          - mkr1000
          - nano_33_iot
          - mkrgsm1400
          - mkrwan1310
          - mkrwan1300
          - mkrnb1500
          - lora-device
          - login_and_secretkey_wifi
          - envie_m7
          - nanorp2040connect
          - nicla_vision
          - opta
          - giga
          - portenta_c33
          - unor4wifi
          - nano_nora
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.credentialsv1+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoCredentialsv1Collection'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoCredentialsv1Collection'
          description: OK
        "401":
          content:
            application/vnd.arduino.credentialsv1+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
      summary: show network_credentials_v1
      tags:
      - network_credentials_v1
  /v1/network_credentials/{type}/connections:
    get:
      description: Show available connection types depending on device type
      operationId: network_credentials_v1#showByDevice
      parameters:
      - description: Device type
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - mkrwifi1010
          - mkr1000
          - nano_33_iot
          - mkrgsm1400
          - mkrwan1310
          - mkrwan1300
          - mkrnb1500
          - lora-device
          - login_and_secretkey_wifi
          - envie_m7
          - nanorp2040connect
          - nicla_vision
          - opta
          - giga
          - portenta_c33
          - unor4wifi
          - nano_nora
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
      summary: showByDevice network_credentials_v1
      tags:
      - network_credentials_v1
  /v1/property_types:
    get:
      description: Returns the list of available property types
      operationId: property_types_v1#listTypes
      responses:
        "200":
          content:
            application/vnd.arduino.propertytype+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoPropertytypeCollection'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoPropertytypeCollection'
          description: OK
        "500":
          content:
            application/vnd.arduino.propertytype+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: listTypes property_types_v1
      tags:
      - property_types_v1
  /v1/templates:
    put:
      description: Apply an existing cloud template and generate all the needed resources
      operationId: templates#apply
      parameters:
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/template'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/template'
        description: TemplatePayload describes the needed attribute to apply a template
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.template+json:
              schema:
                $ref: '#/components/schemas/ArduinoTemplate'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoTemplate'
          description: OK
        "400":
          content:
            application/vnd.arduino.template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/vnd.arduino.template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "409":
          content:
            application/vnd.arduino.template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        "500":
          content:
            application/vnd.arduino.template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: apply templates
      tags:
      - templates
  /v2/dashboards:
    get:
      description: Returns the list of dashboards
      operationId: dashboards_v2#list
      parameters:
      - description: The name of the dashboard
        explode: true
        in: query
        name: name
        required: false
        schema:
          maxLength: 64
          pattern: "[a-zA-Z0-9_.@-]+"
          type: string
        style: form
      - description: The user_id of the dashboard's owner
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.dashboardv2+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2Collection'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2Collection'
          description: OK
        "400":
          content:
            application/vnd.arduino.dashboardv2+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.dashboardv2+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.dashboardv2+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "500":
          content:
            application/vnd.arduino.dashboardv2+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list dashboards_v2
      tags:
      - dashboards_v2
    post:
      description: Create a new dashboard
      operationId: dashboards_v2#create
      parameters:
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardv2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/dashboardv2'
        description: DashboardV2Payload describes a dashboard
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
          description: Created
        "400":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "500":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}:
    delete:
      description: Delete a dashboard
      operationId: dashboards_v2#delete
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete dashboards_v2
      tags:
      - dashboards_v2
    get:
      description: Show a dashboard
      operationId: dashboards_v2#show
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
          description: OK
        "401":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show dashboards_v2
      tags:
      - dashboards_v2
    put:
      description: Updates an existing dashboard
      operationId: dashboards_v2#update
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardv2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/dashboardv2'
        description: DashboardV2Payload describes a dashboard
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
          description: OK
        "400":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/clone:
    put:
      description: Clone an existing dashboard
      operationId: dashboards_v2#clone
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clone'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/clone'
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
          description: Created
        "400":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.dashboardv2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: clone dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/share_request:
    put:
      description: Request access to a dashboard
      operationId: dashboards_v2#requestAccess
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sharerequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/sharerequest'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: requestAccess dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/shares:
    get:
      description: List of users the dashboard has been shared with
      operationId: dashboards_v2#listShares
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.dashboardshare+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardshareCollection'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardshareCollection'
          description: OK
        "400":
          content:
            application/vnd.arduino.dashboardshare+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.dashboardshare+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.dashboardshare+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.dashboardshare+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: listShares dashboards_v2
      tags:
      - dashboards_v2
    put:
      description: Share a dashboard
      operationId: dashboards_v2#share
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardshare'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/dashboardshare'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: share dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/shares/{user_id}:
    delete:
      description: Delete a user the dashboard has been shared with
      operationId: dashboards_v2#deleteShare
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: deleteShare dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/template:
    get:
      description: Get a template of the dashboard
      operationId: dashboards_v2#template
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.dashboardv2template+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2template'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2template'
          description: OK
        "400":
          content:
            application/vnd.arduino.dashboardv2template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.dashboardv2template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.dashboardv2template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.dashboardv2template+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: template dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/widgets/{widgetId}/variables:
    put:
      description: Link or detach widget variables
      operationId: dashboards_v2#link
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the widget
        explode: false
        in: path
        name: widgetId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/widgetlink'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/widgetlink'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.variableslinks+json:
              schema:
                $ref: '#/components/schemas/ArduinoVariableslinks'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoVariableslinks'
          description: OK
        "400":
          content:
            application/vnd.arduino.variableslinks+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.variableslinks+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.variableslinks+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.variableslinks+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: link dashboards_v2
      tags:
      - dashboards_v2
  /v2/devices:
    get:
      description: Returns the list of devices associated to the user
      operationId: devices_v2#list
      parameters:
      - description: "If true, returns all the devices"
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter by device serial number
        explode: true
        in: query
        name: serial
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            maxLength: 129
            pattern: "^[a-zA-Z0-9_.@-]+:[a-zA-Z0-9_.@-]+$"
            type: string
          type: array
        style: form
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Collection'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Collection'
          description: OK
        "400":
          content:
            application/vnd.arduino.devicev2+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.devicev2+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "500":
          content:
            application/vnd.arduino.devicev2+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2
      tags:
      - devices_v2
    put:
      description: Creates a new device associated to the user.
      operationId: devices_v2#create
      parameters:
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2Payload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2Payload'
        description: DeviceV2 describes a device.
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: Created
        "401":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "412":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}:
    delete:
      description: Removes a device associated to the user
      operationId: devices_v2#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2
      tags:
      - devices_v2
    get:
      description: Returns the device requested by the user
      operationId: devices_v2#show
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        "401":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show devices_v2
      tags:
      - devices_v2
    post:
      description: Updates a device associated to the user
      operationId: devices_v2#update
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2'
        description: DeviceV2 describes a device.
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        "400":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/certs:
    get:
      description: Returns the list of certs associated to the device
      operationId: devices_v2_certs#list
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2.cert+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2CertCollection'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2CertCollection'
          description: OK
        "401":
          content:
            application/vnd.arduino.devicev2.cert+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2.cert+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2_certs
      tags:
      - devices_v2_certs
    put:
      description: Creates a new cert associated to a device. The csr is signed and
        saved in database. The CommonName will be replaced with the device id.
      operationId: devices_v2_certs#create
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2CertsPayload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2CertsPayload'
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: Created
        "400":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create devices_v2_certs
      tags:
      - devices_v2_certs
  /v2/devices/{id}/certs/{cid}:
    delete:
      description: Removes a cert associated to a device
      operationId: devices_v2_certs#delete
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_certs
      tags:
      - devices_v2_certs
    get:
      description: Returns the cert requested by the user
      operationId: devices_v2_certs#show
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: OK
        "401":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show devices_v2_certs
      tags:
      - devices_v2_certs
    post:
      description: Updates a cert associated to a device. The csr is signed and saved
        in database. The CommonName will be replaced with the device id.
      operationId: devices_v2_certs#update
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.cert'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.cert'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: OK
        "400":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2.cert+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update devices_v2_certs
      tags:
      - devices_v2_certs
  /v2/devices/{id}/events:
    get:
      description: GET device events
      operationId: devices_v2#getEvents
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of events to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The time at which to start selecting events
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2.event.properties+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2EventProperties'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2EventProperties'
          description: OK
        "401":
          content:
            application/vnd.arduino.devicev2.event.properties+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2.event.properties+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2.event.properties+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        "503":
          content:
            application/vnd.arduino.devicev2.event.properties+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: getEvents devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/ota:
    post:
      description: Upload a binary and send it to a device
      operationId: devices_v2_ota#upload
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/devices_v2_ota_upload_request'
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Otaupload'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Otaupload'
          description: OK
        "202":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Otaupload'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Otaupload'
          description: Accepted
        "400":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "409":
          description: Conflict
        "410":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Gone
        "412":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/vnd.arduino.devicev2.otaupload+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: upload devices_v2_ota
      tags:
      - devices_v2_ota
    put:
      description: Send a binary url to a device
      operationId: devices_v2_ota#send
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.otabinaryurl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.otabinaryurl'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "410":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Gone
        "412":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: send devices_v2_ota
      tags:
      - devices_v2_ota
  /v2/devices/{id}/ota/url:
    post:
      description: Generate a url for downloading a binary
      operationId: devices_v2_ota#url
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.otaurlpyalod'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.otaurlpyalod'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "410":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Gone
        "412":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: url devices_v2_ota
      tags:
      - devices_v2_ota
  /v2/devices/{id}/pass:
    delete:
      description: Removes the password for the device.
      operationId: devices_v2_pass#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_pass
      tags:
      - devices_v2_pass
    get:
      description: Returns whether the password for this device is set or not. It
        doesn't return the password.
      operationId: devices_v2_pass#get
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "If true, return a suggested password"
        explode: true
        in: query
        name: suggested_password
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2.pass+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
          description: OK
        "401":
          content:
            application/vnd.arduino.devicev2.pass+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2.pass+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: get devices_v2_pass
      tags:
      - devices_v2_pass
    post:
      description: Check if the password matches.
      operationId: devices_v2_pass#check
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDevicesV2PassPayload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CheckDevicesV2PassPayload'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: check devices_v2_pass
      tags:
      - devices_v2_pass
    put:
      description: Sets the password for the device. It can never be read back.
      operationId: devices_v2_pass#set
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.pass'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.pass'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2.pass+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
          description: OK
        "400":
          content:
            application/vnd.arduino.devicev2.pass+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.devicev2.pass+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2.pass+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: set devices_v2_pass
      tags:
      - devices_v2_pass
  /v2/devices/{id}/properties:
    get:
      description: GET device properties
      operationId: devices_v2#getProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "If true, shows the soft deleted properties"
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2properties+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2properties'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2properties'
          description: OK
        "401":
          content:
            application/vnd.arduino.devicev2properties+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2properties+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2properties+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: getProperties devices_v2
      tags:
      - devices_v2
    put:
      description: Update device properties last values
      operationId: devices_v2#updateProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertiesValues'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/propertiesValues'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: updateProperties devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/properties/{pid}:
    get:
      description: GET device properties values in a range of time
      operationId: devices_v2#timeseries
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of properties to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: The time at which to start selecting properties
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2propertyvalues+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2propertyvalues'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2propertyvalues'
          description: OK
        "400":
          content:
            application/vnd.arduino.devicev2propertyvalues+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.devicev2propertyvalues+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2propertyvalues+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2propertyvalues+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: timeseries devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/status:
    get:
      description: GET connection status events
      operationId: devices_v2#GetStatusEvents
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of events to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 30
          type: integer
        style: form
      - description: The time at which to start selecting events
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.devicev2.status.events+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2StatusEvents'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2StatusEvents'
          description: OK
        "400":
          content:
            application/vnd.arduino.devicev2.status.events+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.devicev2.status.events+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.devicev2.status.events+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "500":
          content:
            application/vnd.arduino.devicev2.status.events+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        "503":
          content:
            application/vnd.arduino.devicev2.status.events+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: GetStatusEvents devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/tags:
    get:
      description: List tags associated to the device.
      operationId: devices_v2_tags#list
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.arduino.tags+json:
              schema:
                $ref: '#/components/schemas/ArduinoTags'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoTags'
          description: OK
        "401":
          content:
            application/vnd.arduino.tags+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/vnd.arduino.tags+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2_tags
      tags:
      - devices_v2_tags
    put:
      description: Creates or updates a tag associated to the device.
      operationId: devices_v2_tags#upsert
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/tag'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: upsert devices_v2_tags
      tags:
      - devices_v2_tags
  /v2/devices/{id}/tags/{key}:
    delete:
      description: Delete a tag associated to the device given its key.
      operationId: devices_v2_tags#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the tag
        explode: false
        in: path
        name: key
        required: true
        schema:
          maxLength: 64
          pattern: "^[a-zA-Z0-9_.@-]+$"
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_tags
      tags:
      - devices_v2_tags
  /v2/series/batch_query:
    post:
      description: Returns the batch of time-series aggregated samples
      operationId: series_v2#batch_query
      parameters:
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchQueryRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.series.batch+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatch'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatch'
          description: OK
        "400":
          content:
            application/vnd.arduino.series.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.series.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.series.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/vnd.arduino.series.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw:
    post:
      description: Returns the batch of time-series raw samples
      operationId: series_v2#batch_query_raw
      parameters:
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRawRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchQueryRawRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.series.raw.batch+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatch'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatch'
          description: OK
        "400":
          content:
            application/vnd.arduino.series.raw.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.series.raw.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.series.raw.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/vnd.arduino.series.raw.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw/lastvalue:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw_last_value
      parameters:
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchLastValueRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchLastValueRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.series.raw.batch.lastvalue+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatchLastvalue'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatchLastvalue'
          description: OK
        "401":
          content:
            application/vnd.arduino.series.raw.batch.lastvalue+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.series.raw.batch.lastvalue+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/vnd.arduino.series.raw.batch.lastvalue+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw_last_value series_v2
      tags:
      - series_v2
  /v2/series/batch_query_sampling:
    post:
      description: "Returns a batch of time-series sampled samples. To be used for\
        \ types that does not support mathematic aggregation. Types supported: strings,\
        \ complex types."
      operationId: series_v2#batch_query_sampling
      parameters:
      - explode: false
        in: header
        name: X-Organization
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQuerySampledRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchQuerySampledRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/vnd.arduino.series.batch.sampled+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatchSampled'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatchSampled'
          description: OK
        "400":
          content:
            application/vnd.arduino.series.batch.sampled+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/vnd.arduino.series.batch.sampled+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "403":
          content:
            application/vnd.arduino.series.batch.sampled+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
[...]
