openapi: 3.0.3
info:
  description: |2-

    Provides a set of endpoints to manage Arduino IoT Cloud **Devices**, **Things**, **Properties** and **Timeseries**. This API can be called just with any HTTP Client, or using one of these clients:

    * [Javascript NPM package](https://www.npmjs.com/package/@arduino/arduino-iot-client)

    * [Python PYPI Package](https://pypi.org/project/arduino-iot-client/)

    * [Golang Module](https://github.com/arduino/iot-client-go)
  title: Arduino IoT Cloud API
  version: "2.0"
servers:
- url: https://api2.arduino.cc/iot
paths:
  /v1/lora-devices/:
    put:
      description: Create a new lora device. Its info are saved on our database, and
        on the lora provider network. Creates a device_v2 automatically
      operationId: lora_devices_v1#create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLoraDevicesV1Payload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateLoraDevicesV1Payload'
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoLoradevicev1'
          description: Created
      summary: create lora_devices_v1
      tags:
      - lora_devices_v1
  /v1/lora-freq-plans/:
    get:
      description: List the lora frequency plans supported
      operationId: lora_freq_plan_v1#list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoLorafreqplansv1'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: list lora_freq_plan_v1
      tags:
      - lora_freq_plan_v1
  /v2/dashboards:
    get:
      description: Returns the list of dashboards
      operationId: dashboards_v2#list
      parameters:
      - description: The name of the dashboard
        explode: true
        in: query
        name: name
        required: false
        schema:
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        style: form
      - description: The user_id of the dashboard's owner
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2Collection'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: list dashboards_v2
      tags:
      - dashboards_v2
    post:
      description: Create a new dashboard
      operationId: dashboards_v2#create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardv2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/dashboardv2'
        description: DashboardV2Payload describes a dashboard
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: create dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}:
    delete:
      description: Delete a dashboard
      operationId: dashboards_v2#delete
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: delete dashboards_v2
      tags:
      - dashboards_v2
    get:
      description: Show a dashboard
      operationId: dashboards_v2#show
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: show dashboards_v2
      tags:
      - dashboards_v2
    put:
      description: Updates an existing dashboard
      operationId: dashboards_v2#update
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardv2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/dashboardv2'
        description: DashboardV2Payload describes a dashboard
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardv2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: update dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/share_request:
    put:
      description: Request access to a dashboard
      operationId: dashboards_v2#requestAccess
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sharerequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/sharerequest'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: requestAccess dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/shares:
    get:
      description: List of users the dashboard has been shared with
      operationId: dashboards_v2#listShares
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDashboardshareCollection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: listShares dashboards_v2
      tags:
      - dashboards_v2
    put:
      description: Share a dashboard
      operationId: dashboards_v2#share
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dashboardshare'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/dashboardshare'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: share dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/shares/{user_id}:
    delete:
      description: Delete a user the dashboard has been shared with
      operationId: dashboards_v2#deleteShare
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: deleteShare dashboards_v2
      tags:
      - dashboards_v2
  /v2/dashboards/{id}/widgets/{widgetId}/variables:
    put:
      description: Link or detach widget variables
      operationId: dashboards_v2#link
      parameters:
      - description: The id of the dashboard
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the widget
        explode: false
        in: path
        name: widgetId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/widgetlink'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/widgetlink'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoVariableslinks'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      summary: link dashboards_v2
      tags:
      - dashboards_v2
  /v2/devices:
    get:
      description: Returns the list of devices associated to the user
      operationId: devices_v2#list
      parameters:
      - description: If true, returns all the devices
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter by device serial number
        explode: true
        in: query
        name: serial
        required: false
        schema:
          type: string
        style: form
      - description: Filter by tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            maxLength: 129
            pattern: ^[a-zA-Z0-9_.@-]+:[a-zA-Z0-9_.@-]+$
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Collection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2
      tags:
      - devices_v2
    put:
      description: Creates a new device associated to the user.
      operationId: devices_v2#create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2Payload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2Payload'
        description: DeviceV2 describes a device.
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}:
    delete:
      description: Removes a device associated to the user
      operationId: devices_v2#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2
      tags:
      - devices_v2
    get:
      description: Returns the device requested by the user
      operationId: devices_v2#show
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show devices_v2
      tags:
      - devices_v2
    post:
      description: Updates a device associated to the user
      operationId: devices_v2#update
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2'
        description: DeviceV2 describes a device.
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/certs:
    get:
      description: Returns the list of certs associated to the device
      operationId: devices_v2_certs#list
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2CertCollection'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2_certs
      tags:
      - devices_v2_certs
    put:
      description: Creates a new cert associated to a device. The csr is signed and
        saved in database. The CommonName will be replaced with the device id.
      operationId: devices_v2_certs#create
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2CertsPayload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2CertsPayload'
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create devices_v2_certs
      tags:
      - devices_v2_certs
  /v2/devices/{id}/certs/{cid}:
    delete:
      description: Removes a cert associated to a device
      operationId: devices_v2_certs#delete
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_certs
      tags:
      - devices_v2_certs
    get:
      description: Returns the cert requested by the user
      operationId: devices_v2_certs#show
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show devices_v2_certs
      tags:
      - devices_v2_certs
    post:
      description: Updates a cert associated to a device. The csr is signed and saved
        in database. The CommonName will be replaced with the device id.
      operationId: devices_v2_certs#update
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.cert'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.cert'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update devices_v2_certs
      tags:
      - devices_v2_certs
  /v2/devices/{id}/events:
    get:
      description: GET device events
      operationId: devices_v2#getEvents
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of events to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The time at which to start selecting events
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2EventProperties'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: getEvents devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/ota:
    post:
      description: Upload a binary and send it to a device
      operationId: devices_v2_ota#upload
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                async:
                  default: true
                  description: If false, wait for the full OTA process, until it gets
                    a result from the device
                  type: boolean
                  x-formData-name: async
                expire_in_mins:
                  default: 10
                  description: Binary expire time in minutes, default 10 mins
                  type: integer
                  x-formData-name: expire_in_mins
                ota_file:
                  description: OTA file
                  format: binary
                  required:
                  - ota_file
                  type: string
                  x-formData-name: ota_file
              required:
              - ota_file
              type: object
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Gone
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: upload devices_v2_ota
      tags:
      - devices_v2_ota
    put:
      description: Send a binary url to a device
      operationId: devices_v2_ota#send
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.otabinaryurl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.otabinaryurl'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Gone
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: send devices_v2_ota
      tags:
      - devices_v2_ota
  /v2/devices/{id}/pass:
    delete:
      description: Removes the password for the device.
      operationId: devices_v2_pass#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_pass
      tags:
      - devices_v2_pass
    get:
      description: Returns whether the password for this device is set or not. It
        doesn't return the password.
      operationId: devices_v2_pass#get
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, return a suggested password
        explode: true
        in: query
        name: suggested_password
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: get devices_v2_pass
      tags:
      - devices_v2_pass
    post:
      description: Check if the password matches.
      operationId: devices_v2_pass#check
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDevicesV2PassPayload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CheckDevicesV2PassPayload'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: check devices_v2_pass
      tags:
      - devices_v2_pass
    put:
      description: Sets the password for the device. It can never be read back.
      operationId: devices_v2_pass#set
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.pass'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.pass'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: set devices_v2_pass
      tags:
      - devices_v2_pass
  /v2/devices/{id}/properties:
    get:
      description: GET device properties
      operationId: devices_v2#getProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2properties'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: getProperties devices_v2
      tags:
      - devices_v2
    put:
      description: Update device properties last values
      operationId: devices_v2#updateProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertiesValues'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/propertiesValues'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: updateProperties devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/properties/{pid}:
    get:
      description: GET device properties values in a range of time
      operationId: devices_v2#timeseries
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of properties to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: The time at which to start selecting properties
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2propertyvalues'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: timeseries devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/tags:
    get:
      description: List tags associated to the device.
      operationId: devices_v2_tags#list
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoTags'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2_tags
      tags:
      - devices_v2_tags
    put:
      description: Creates or updates a tag associated to the device.
      operationId: devices_v2_tags#upsert
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/tag'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: upsert devices_v2_tags
      tags:
      - devices_v2_tags
  /v2/devices/{id}/tags/{key}:
    delete:
      description: Delete a tag associated to the device given its key.
      operationId: devices_v2_tags#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the tag
        explode: false
        in: path
        name: key
        required: true
        schema:
          maxLength: 64
          pattern: ^[a-zA-Z0-9_.@-]+$
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_tags
      tags:
      - devices_v2_tags
  /v2/series/batch_query:
    post:
      description: Returns the batch of time-series data
      operationId: series_v2#batch_query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchQueryRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatch'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRawRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchQueryRawRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatch'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw/lastvalue:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw_last_value
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchLastValueRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchLastValueRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatchLastvalue'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw_last_value series_v2
      tags:
      - series_v2
  /v2/series/historic_data:
    post:
      description: Request sending of historical data of properties by email
      operationId: series_v2#historic_data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricDataRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HistoricDataRequest'
        required: true
        x-originalParamName: payload
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: historic_data series_v2
      tags:
      - series_v2
  /v2/things:
    get:
      description: Returns the list of things associated to the user
      operationId: things_v2#list
      parameters:
      - description: If true, returns all the things
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the device you want to filter
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter only the desired things
        explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: If true, shows the soft deleted things
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If true, returns things with their properties, and last values
        explode: true
        in: query
        name: show_properties
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter by tags
        explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            maxLength: 129
            pattern: ^[a-zA-Z0-9_.@-]+:[a-zA-Z0-9_.@-]+$
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThingCollection'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list things_v2
      tags:
      - things_v2
    put:
      description: Creates a new thing associated to the user
      operationId: things_v2#create
      parameters:
      - description: If true, detach device from the other thing, and attach to this
          thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThingCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ThingCreate'
        description: Payload to create a new thing
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create things_v2
      tags:
      - things_v2
  /v2/things/{id}:
    delete:
      description: Removes a thing associated to the user
      operationId: things_v2#delete
      parameters:
      - description: If true, hard delete the thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete things_v2
      tags:
      - things_v2
    get:
      description: Returns the thing requested by the user
      operationId: things_v2#show
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted thing
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show things_v2
      tags:
      - things_v2
    post:
      description: Updates a thing associated to the user
      operationId: things_v2#update
      parameters:
      - description: If true, detach device from the other thing, and attach to this
          thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thingUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/thingUpdate'
        description: Payload to update an existing thing
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update things_v2
      tags:
      - things_v2
  /v2/things/{id}/properties:
    get:
      description: Returns the list of properties associated to the thing
      operationId: properties_v2#list
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoPropertyCollection'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list properties_v2
      tags:
      - properties_v2
    put:
      description: Creates a new property associated to a thing
      operationId: properties_v2#create
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/property'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/property'
        description: PropertyPayload describes a property of a thing. No field is
          mandatory
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}:
    delete:
      description: Removes a property associated to a thing
      operationId: properties_v2#delete
      parameters:
      - description: If true, hard delete the property
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete properties_v2
      tags:
      - properties_v2
    get:
      description: Returns the property requested by the user
      operationId: properties_v2#show
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show properties_v2
      tags:
      - properties_v2
    post:
      description: Updates a property associated to a thing
      operationId: properties_v2#update
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/property'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/property'
        description: PropertyPayload describes a property of a thing. No field is
          mandatory
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}/publish:
    put:
      description: Publish a property value to MQTT
      operationId: properties_v2#publish
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertyValue'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/propertyValue'
        description: PropertyValuePayload describes a property value
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: publish properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}/timeseries:
    get:
      description: 'Get numerical property''s historic data binned on a specified
        time interval (note: the total number of data points should NOT be greater
        than 1000 otherwise the result will be truncated)'
      operationId: properties_v2#timeseries
      parameters:
      - description: Whether data's ordering (by time) should be descending
        explode: true
        in: query
        name: desc
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: 'Get data with a timestamp >= to this date (default: 2 weeks
          ago, min: 1842-01-01T00:00:00Z, max: 2242-01-01T00:00:00Z)'
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: 'Binning interval in seconds (defaut: the smallest possible value
          compatibly with the limit of 1000 data points in the response)'
        explode: true
        in: query
        name: interval
        required: false
        schema:
          minimum: 1
          type: integer
        style: form
      - description: ID of a numerical property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: 'Get data with a timestamp < to this date (default: now, min:
          1842-01-01T00:00:00Z, max: 2242-01-01T00:00:00Z)'
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoTimeseriesmedia'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: timeseries properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/sketch:
    delete:
      operationId: things_v2#deleteSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: deleteSketch things_v2
      tags:
      - things_v2
    put:
      description: Creates a new sketch thing associated to the thing
      operationId: things_v2#createSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thingSketch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/thingSketch'
        description: ThingSketchPayload describes a sketch of a thing
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: createSketch things_v2
      tags:
      - things_v2
  /v2/things/{id}/sketch/{sketchId}:
    put:
      description: Update an existing thing sketch
      operationId: things_v2#updateSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the sketch
        explode: false
        in: path
        name: sketchId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSketch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/updateSketch'
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: updateSketch things_v2
      tags:
      - things_v2
  /v2/things/{id}/tags:
    get:
      description: List tags associated to the thing.
      operationId: things_v2_tags#list
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoTags'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list things_v2_tags
      tags:
      - things_v2_tags
    put:
      description: Creates or updates a tag associated to the thing.
      operationId: things_v2_tags#upsert
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tag'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/tag'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: upsert things_v2_tags
      tags:
      - things_v2_tags
  /v2/things/{id}/tags/{key}:
    delete:
      description: Delete a tag associated to the thing given its key.
      operationId: things_v2_tags#delete
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The key of the tag
        explode: false
        in: path
        name: key
        required: true
        schema:
          maxLength: 64
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete things_v2_tags
      tags:
      - things_v2_tags
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies:
    inline_object:
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/inline_object'
  responses:
    Accepted:
      description: Accepted
    BadRequest:
      description: Bad Request
    NotFound:
      description: Not Found
    NotImplemented:
      description: Not Implemented
    OK:
      description: OK
    Unauthorized:
      description: Unauthorized
  schemas:
    ArduinoCompressedv2:
      description: compressed contains the info from which to generate the certificate
        (default view)
      example:
        not_after: 2000-01-23T04:56:07.000+00:00
        serial: serial
        signature: signature
        not_before: 2000-01-23T04:56:07.000+00:00
        signature_asn1_x: signature_asn1_x
        signature_asn1_y: signature_asn1_y
        authority_key_identifier: authority_key_identifier
      properties:
        authority_key_identifier:
          description: The Authority Key Identifier of the certificate
          type: string
        not_after:
          description: The ending date of the certificate
          format: date-time
          type: string
        not_before:
          description: The starting date of the certificate
          format: date-time
          type: string
        serial:
          description: The serial number of the certificate
          type: string
        signature:
          description: The signature of the certificate
          type: string
        signature_asn1_x:
          description: The ASN1 X component of certificate signature
          type: string
        signature_asn1_y:
          description: The ASN1 Y component of certificate signature
          type: string
      required:
      - not_after
      - not_before
      - serial
      - signature
      - signature_asn1_x
      - signature_asn1_y
      title: 'Mediatype identifier: application/vnd.arduino.compressedv2; view=default'
      type: object
    ArduinoDashboardshare:
      description: ArduinoDashboardshare media type (default view)
      example:
        user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        username: username
      properties:
        user_id:
          description: The userID of the user you want to share the dashboard with
          format: uuid
          type: string
        username:
          description: The username of the user you want to share the dashboard with
          type: string
      required:
      - user_id
      - username
      title: 'Mediatype identifier: application/vnd.arduino.dashboardshare+json; view=default'
      type: object
    ArduinoDashboardshareCollection:
      description: ArduinoDashboardshareCollection is the media type for an array
        of ArduinoDashboardshare (default view)
      items:
        $ref: '#/components/schemas/ArduinoDashboardshare'
      title: 'Mediatype identifier: application/vnd.arduino.dashboardshare+json; type=collection;
        view=default'
      type: array
    ArduinoDashboardv2:
      description: Dashboard is a collection of widgets (default view)
      example:
        shared_with:
        - user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          username: username
        - user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          username: username
        updated_at: 2000-01-23T04:56:07.000+00:00
        name: name
        shared_by:
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          username: username
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        widgets:
        - height_mobile: 6
          y_mobile: 3
          variables:
          - thing_name: thing_name
            last_value: ""
            thing_timezone:
              offset: 1
              name: name
              until: 2000-01-23T04:56:07.000+00:00
            thing_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            permission: permission
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            variable_name: variable_name
            last_value_updated_at: 2000-01-23T04:56:07.000+00:00
            type: type
          - thing_name: thing_name
            last_value: ""
            thing_timezone:
              offset: 1
              name: name
              until: 2000-01-23T04:56:07.000+00:00
            thing_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            permission: permission
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            variable_name: variable_name
            last_value_updated_at: 2000-01-23T04:56:07.000+00:00
            type: type
          type: slider, gauge
          x_mobile: 7
          width_mobile: 5
          has_permission_incompatibility: true
          has_unlinked_variable: true
          name: name
          options:
            key: '{}'
          width: 5
          x: 2
          has_type_incompatibility: true
          y: 9
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          height: 0
        - height_mobile: 6
          y_mobile: 3
          variables:
          - thing_name: thing_name
            last_value: ""
            thing_timezone:
              offset: 1
              name: name
              until: 2000-01-23T04:56:07.000+00:00
            thing_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            permission: permission
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            variable_name: variable_name
            last_value_updated_at: 2000-01-23T04:56:07.000+00:00
            type: type
          - thing_name: thing_name
            last_value: ""
            thing_timezone:
              offset: 1
              name: name
              until: 2000-01-23T04:56:07.000+00:00
            thing_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            permission: permission
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            variable_name: variable_name
            last_value_updated_at: 2000-01-23T04:56:07.000+00:00
            type: type
          type: slider, gauge
          x_mobile: 7
          width_mobile: 5
          has_permission_incompatibility: true
          has_unlinked_variable: true
          name: name
          options:
            key: '{}'
          width: 5
          x: 2
          has_type_incompatibility: true
          y: 9
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          height: 0
      properties:
        id:
          description: The friendly name of the dashboard
          format: uuid
          type: string
        name:
          description: The friendly name of the dashboard
          type: string
        shared_by:
          $ref: '#/components/schemas/ArduinoDashboardshare'
        shared_with:
          description: ArduinoDashboardshareCollection is the media type for an array
            of ArduinoDashboardshare (default view)
          items:
            $ref: '#/components/schemas/ArduinoDashboardshare'
          title: 'Mediatype identifier: application/vnd.arduino.dashboardshare+json;
            type=collection; view=default'
          type: array
        updated_at:
          description: Last update date
          format: date-time
          type: string
        widgets:
          description: ArduinoWidgetv2Collection is the media type for an array of
            ArduinoWidgetv2 (default view)
          items:
            $ref: '#/components/schemas/ArduinoWidgetv2'
          title: 'Mediatype identifier: application/vnd.arduino.widgetv2+json; type=collection;
            view=default'
          type: array
      required:
      - id
      - name
      - updated_at
      title: 'Mediatype identifier: application/vnd.arduino.dashboardv2+json; view=default'
      type: object
    ArduinoDashboardv2Collection:
      description: ArduinoDashboardv2Collection is the media type for an array of
        ArduinoDashboardv2 (default view)
      items:
        $ref: '#/components/schemas/ArduinoDashboardv2'
      title: 'Mediatype identifier: application/vnd.arduino.dashboardv2+json; type=collection;
        view=default'
      type: array
    ArduinoDevicev2:
      description: ArduinoDevicev2 media type (default view)
      example:
        metadata:
          key: '{}'
        fqbn: fqbn
        created_at: 2000-01-23T04:56:07.000+00:00
        ota_compatible: true
        wifi_fw_version: wifi_fw_version
        label: label
        type: type
        required_wifi_fw_version: required_wifi_fw_version
        tags:
          key: '{}'
        latest_wifi_fw_version: latest_wifi_fw_version
        serial: serial
        user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        webhooks:
        - active: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          uri: https://openapi-generator.tech
        - active: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          uri: https://openapi-generator.tech
        last_activity_at: 2000-01-23T04:56:07.000+00:00
        name: name
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        thing:
          device_fqbn: device_fqbn
          device_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          timezone: timezone
          webhook_uri: webhook_uri
          sketch_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          created_at: 2000-01-23T04:56:07.000+00:00
          device_type: device_type
          deleted_at: 2000-01-23T04:56:07.000+00:00
          tags:
            key: '{}'
          device_name: device_name
          properties_count: 5
          updated_at: 2000-01-23T04:56:07.000+00:00
          user_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          href: href
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          webhook_active: true
          properties:
          - last_value: ""
            created_at: 2000-01-23T04:56:07.000+00:00
            permission: permission
            type: type
            deleted_at: 2000-01-23T04:56:07.000+00:00
            value_updated_at: 2000-01-23T04:56:07.000+00:00
            min_value: 6.027456183070403
            thing_name: thing_name
            update_strategy: update_strategy
            updated_at: 2000-01-23T04:56:07.000+00:00
            thing_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            update_parameter: 5.962133916683182
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            persist: true
            tag: 1.4658129805029452
            variable_name: variable_name
            sync_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            max_value: 0.8008281904610115
          - last_value: ""
            created_at: 2000-01-23T04:56:07.000+00:00
            permission: permission
            type: type
            deleted_at: 2000-01-23T04:56:07.000+00:00
            value_updated_at: 2000-01-23T04:56:07.000+00:00
            min_value: 6.027456183070403
            thing_name: thing_name
            update_strategy: update_strategy
            updated_at: 2000-01-23T04:56:07.000+00:00
            thing_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            name: name
            update_parameter: 5.962133916683182
            href: href
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            persist: true
            tag: 1.4658129805029452
            variable_name: variable_name
            sync_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            max_value: 0.8008281904610115
        events:
        - updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          value: ""
        - updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          value: ""
        ota_available: true
      properties:
        created_at:
          description: Creation date of the device
          format: date-time
          type: string
        events:
          description: ArduinoDevicev2SimplePropertiesCollection is the media type
            for an array of ArduinoDevicev2SimpleProperties (default view)
          items:
            $ref: '#/components/schemas/ArduinoDevicev2SimpleProperties'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
            type=collection; view=default'
          type: array
        fqbn:
          description: The fully qualified board name
          type: string
        href:
          description: The api reference of this device
          type: string
        id:
          description: The arn of the device
          format: uuid
          type: string
        label:
          description: The label of the device
          type: string
        last_activity_at:
          description: Last activity date
          format: date-time
          type: string
        latest_wifi_fw_version:
          description: The latest version of the NINA/WIFI101 firmware available for
            this device
          type: string
        metadata:
          additionalProperties: true
          description: The metadata of the device
          type: object
        name:
          description: The friendly name of the device
          type: string
        ota_available:
          description: True if the device type is ready to receive OTA updated
          type: boolean
        ota_compatible:
          description: True if the device type is OTA compatible
          type: boolean
        required_wifi_fw_version:
          description: The required version of the NINA/WIFI101 firmware needed by
            IoT Cloud
          type: string
        serial:
          description: The serial uuid of the device
          type: string
        tags:
          additionalProperties: true
          description: Tags belonging to the device
          type: object
        thing:
          $ref: '#/components/schemas/ArduinoThing'
        type:
          description: The type of the device
          type: string
        user_id:
          description: The id of the user
          format: uuid
          type: string
        webhooks:
          description: ArduinoDevicev2WebhookCollection is the media type for an array
            of ArduinoDevicev2Webhook (default view)
          items:
            $ref: '#/components/schemas/ArduinoDevicev2Webhook'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
            type=collection; view=default'
          type: array
        wifi_fw_version:
          description: The version of the NINA/WIFI101 firmware running on the device
          type: string
      required:
      - href
      - id
      - label
      - name
      - serial
      - type
      - user_id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2+json; view=default'
      type: object
    ArduinoDevicev2Cert:
      description: DeviceCertV2 describes a certificate associated to the device (default
        view)
      example:
        der: der
        device_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        pem: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
          \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
          \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
          \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
          \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
          \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
          \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
        compressed:
          not_after: 2000-01-23T04:56:07.000+00:00
          serial: serial
          signature: signature
          not_before: 2000-01-23T04:56:07.000+00:00
          signature_asn1_x: signature_asn1_x
          signature_asn1_y: signature_asn1_y
          authority_key_identifier: authority_key_identifier
        href: href
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        ca: ca
        enabled: true
      properties:
        ca:
          description: The Certification Authority used to sign the certificate
          type: string
        compressed:
          $ref: '#/components/schemas/ArduinoCompressedv2'
        der:
          description: The certificate in DER format
          type: string
        device_id:
          description: The unique identifier of the device
          format: uuid
          type: string
        enabled:
          default: true
          description: Whether the certificate is enabled
          type: boolean
        href:
          description: The api reference of this cert
          type: string
        id:
          description: The unique identifier of the key
          format: uuid
          type: string
        pem:
          description: The certificate in pem format
          example: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
            \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
            \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
            \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
            \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
            \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
            \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
          maxLength: 512
          type: string
      required:
      - compressed
      - der
      - device_id
      - enabled
      - href
      - id
      - pem
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.cert+json; view=default'
      type: object
    ArduinoDevicev2CertCollection:
      description: ArduinoDevicev2CertCollection is the media type for an array of
        ArduinoDevicev2Cert (default view)
      items:
        $ref: '#/components/schemas/ArduinoDevicev2Cert'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.cert+json; type=collection;
        view=default'
      type: array
    ArduinoDevicev2Collection:
      description: ArduinoDevicev2Collection is the media type for an array of ArduinoDevicev2
        (default view)
      items:
        $ref: '#/components/schemas/ArduinoDevicev2'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2+json; type=collection;
        view=default'
      type: array
    ArduinoDevicev2EventProperties:
      description: ArduinoDevicev2EventProperties media type (default view)
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        events:
        - updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          value: ""
        - updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          value: ""
      properties:
        events:
          description: ArduinoDevicev2SimplePropertiesCollection is the media type
            for an array of ArduinoDevicev2SimpleProperties (default view)
          items:
            $ref: '#/components/schemas/ArduinoDevicev2SimpleProperties'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
            type=collection; view=default'
          type: array
        id:
          description: The device of the property
          format: uuid
          type: string
      required:
      - events
      - id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.event.properties+json;
        view=default'
      type: object
    ArduinoDevicev2Pass:
      description: DeviceCertV2 describes a password associated to a device (default
        view)
      example:
        set: true
        suggested_password: suggested_password
      properties:
        set:
          description: Whether the password is set or not
          type: boolean
        suggested_password:
          description: A random suggested password
          type: string
      required:
      - set
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.pass+json; view=default'
[...]
