openapi: 3.0.0
info:
  description: |2-

    Provides a set of endpoints to manage Arduino IoT Cloud **Devices**, **Things**, **Properties** and **Timeseries**. This API can be called just with any HTTP Client, or using one of these clients:

    * [Javascript NPM package](https://www.npmjs.com/package/@arduino/arduino-iot-client)

    * [Python PYPI Package](https://pypi.org/project/arduino-iot-client/)

    * [Golang Module](https://github.com/arduino/iot-client-go)
  title: Arduino IoT Cloud API
  version: "2.0"
servers:
- url: https://api2.arduino.cc/iot
paths:
  /v2/devices:
    get:
      description: Returns the list of devices associated to the user
      operationId: devices_v2#list
      parameters:
      - description: If true, returns all the devices
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Collection'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2
      tags:
      - devices_v2
    put:
      description: Creates a new device associated to the user.
      operationId: devices_v2#create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2Payload'
        description: DeviceV2 describes a device.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}:
    delete:
      description: Removes a device associated to the user
      operationId: devices_v2#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2
      tags:
      - devices_v2
    get:
      description: Returns the device requested by the user
      operationId: devices_v2#show
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show devices_v2
      tags:
      - devices_v2
    post:
      description: Updates a device associated to the user
      operationId: devices_v2#update
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2'
        description: DeviceV2 describes a device.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/certs:
    get:
      description: Returns the list of certs associated to the device
      operationId: devices_v2_certs#list
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2CertCollection'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2_certs
      tags:
      - devices_v2_certs
    put:
      description: Creates a new cert associated to a device. The csr is signed and
        saved in database. The CommonName will be replaced with the device id.
      operationId: devices_v2_certs#create
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2CertsPayload'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create devices_v2_certs
      tags:
      - devices_v2_certs
  /v2/devices/{id}/certs/{cid}:
    delete:
      description: Removes a cert associated to a device
      operationId: devices_v2_certs#delete
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_certs
      tags:
      - devices_v2_certs
    get:
      description: Returns the cert requested by the user
      operationId: devices_v2_certs#show
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show devices_v2_certs
      tags:
      - devices_v2_certs
    post:
      description: Updates a cert associated to a device. The csr is signed and saved
        in database. The CommonName will be replaced with the device id.
      operationId: devices_v2_certs#update
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.cert'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update devices_v2_certs
      tags:
      - devices_v2_certs
  /v2/devices/{id}/events:
    get:
      description: GET device events
      operationId: devices_v2#getEvents
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of events to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The time at which to start selecting events
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2EventProperties'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: getEvents devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/pass:
    delete:
      description: Removes the password for the device.
      operationId: devices_v2_pass#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_pass
      tags:
      - devices_v2_pass
    get:
      description: Returns whether the password for this device is set or not. It
        doesn't return the password.
      operationId: devices_v2_pass#get
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, return a suggested password
        explode: true
        in: query
        name: suggested_password
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: get devices_v2_pass
      tags:
      - devices_v2_pass
    post:
      description: Check if the password matches.
      operationId: devices_v2_pass#check
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDevicesV2PassPayload'
        required: true
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: check devices_v2_pass
      tags:
      - devices_v2_pass
    put:
      description: Sets the password for the device. It can never be read back.
      operationId: devices_v2_pass#set
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.pass'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: set devices_v2_pass
      tags:
      - devices_v2_pass
  /v2/devices/{id}/properties:
    get:
      description: GET device properties
      operationId: devices_v2#getProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2properties'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: getProperties devices_v2
      tags:
      - devices_v2
    put:
      description: Update device properties last values
      operationId: devices_v2#updateProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertiesValues'
        required: true
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: updateProperties devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/properties/{pid}:
    get:
      description: GET device properties values in a range of time
      operationId: devices_v2#timeseries
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of properties to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: The time at which to start selecting properties
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2propertyvalues'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: timeseries devices_v2
      tags:
      - devices_v2
  /v2/series/batch_query:
    post:
      description: Returns the batch of time-series data
      operationId: series_v2#batch_query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRequestsMediaV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatch'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRawRequestsMediaV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatch'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw/lastvalue:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw_last_value
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchLastValueRequestsMediaV1'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatchLastvalue'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw_last_value series_v2
      tags:
      - series_v2
  /v2/things:
    get:
      description: Returns the list of things associated to the user
      operationId: things_v2#list
      parameters:
      - description: If true, returns all the things
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          type: boolean
        style: form
      - description: The id of the device you want to filter
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter only the desired things
        explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: If true, shows the soft deleted things
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: If true, returns things with their properties, and last values
        explode: true
        in: query
        name: show_properties
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThingCollection'
          description: OK
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list things_v2
      tags:
      - things_v2
    put:
      description: Creates a new thing associated to the user
      operationId: things_v2#create
      parameters:
      - description: If true, detach device from the other thing, and attach to this
          thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThingsV2Payload'
        description: ThingPayload describes a thing
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create things_v2
      tags:
      - things_v2
  /v2/things/{id}:
    delete:
      description: Removes a thing associated to the user
      operationId: things_v2#delete
      parameters:
      - description: If true, hard delete the thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete things_v2
      tags:
      - things_v2
    get:
      description: Returns the thing requested by the user
      operationId: things_v2#show
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted thing
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show things_v2
      tags:
      - things_v2
    post:
      description: Updates a thing associated to the user
      operationId: things_v2#update
      parameters:
      - description: If true, detach device from the other thing, and attach to this
          thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thing'
        description: ThingPayload describes a thing
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update things_v2
      tags:
      - things_v2
  /v2/things/{id}/properties:
    get:
      description: Returns the list of properties associated to the thing
      operationId: properties_v2#list
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoPropertyCollection'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list properties_v2
      tags:
      - properties_v2
    put:
      description: Creates a new property associated to a thing
      operationId: properties_v2#create
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/property'
        description: PropertyPayload describes a property of a thing. No field is
          mandatory
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}:
    delete:
      description: Removes a property associated to a thing
      operationId: properties_v2#delete
      parameters:
      - description: If true, hard delete the property
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete properties_v2
      tags:
      - properties_v2
    get:
      description: Returns the property requested by the user
      operationId: properties_v2#show
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show properties_v2
      tags:
      - properties_v2
    post:
      description: Updates a property associated to a thing
      operationId: properties_v2#update
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/property'
        description: PropertyPayload describes a property of a thing. No field is
          mandatory
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}/publish:
    put:
      description: Publish a property value to MQTT
      operationId: properties_v2#publish
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertyValue'
        description: PropertyValuePayload describes a property value
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: publish properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/sketch:
    delete:
      operationId: things_v2#deleteSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: deleteSketch things_v2
      tags:
      - things_v2
    put:
      description: Creates a new sketch thing associated to the thing
      operationId: things_v2#createSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thingSketch'
        description: ThingSketchPayload describes a sketch of a thing
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: createSketch things_v2
      tags:
      - things_v2
  /v2/things/{id}/sketch/{sketchId}:
    put:
      description: Update an existing thing sketch
      operationId: things_v2#updateSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the sketch
        explode: false
        in: path
        name: sketchId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSketch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: updateSketch things_v2
      tags:
      - things_v2
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies: {}
  responses:
    BadRequest:
      description: Bad Request
    NotFound:
      description: Not Found
    NotImplemented:
      description: Not Implemented
    OK:
      description: OK
    Unauthorized:
      description: Unauthorized
  schemas:
    ArduinoCompressedv2:
      description: compressed contains the info from which to generate the certificate
        (default view)
      example:
        authority_key_identifier: Facere qui ipsam soluta autem quo.
        not_after: 1986-06-24T05:15:59Z
        not_before: 1990-06-18T03:07:07Z
        serial: Rerum reiciendis nesciunt amet libero est vitae.
        signature: Similique voluptatem tenetur sit voluptatem.
        signature_asn1_x: Aut architecto expedita consequatur nam qui atque.
        signature_asn1_y: Distinctio occaecati laudantium quis distinctio blanditiis
          quos.
      properties:
        authority_key_identifier:
          description: The Authority Key Identifier of the certificate
          example: Facere qui ipsam soluta autem quo.
          type: string
        not_after:
          description: The ending date of the certificate
          example: 1986-06-24T05:15:59Z
          format: date-time
          type: string
        not_before:
          description: The starting date of the certificate
          example: 1990-06-18T03:07:07Z
          format: date-time
          type: string
        serial:
          description: The serial number of the certificate
          example: Rerum reiciendis nesciunt amet libero est vitae.
          type: string
        signature:
          description: The signature of the certificate
          example: Similique voluptatem tenetur sit voluptatem.
          type: string
        signature_asn1_x:
          description: The ASN1 X component of certificate signature
          example: Aut architecto expedita consequatur nam qui atque.
          type: string
        signature_asn1_y:
          description: The ASN1 Y component of certificate signature
          example: Distinctio occaecati laudantium quis distinctio blanditiis quos.
          type: string
      required:
      - not_after
      - not_before
      - serial
      - signature
      - signature_asn1_x
      - signature_asn1_y
      title: 'Mediatype identifier: application/vnd.arduino.compressedv2; view=default'
      type: object
    ArduinoDevicev2:
      description: ArduinoDevicev2 media type (default view)
      example:
        created_at: 2008-12-26T18:12:41Z
        events:
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        fqbn: Aut culpa eum rerum laudantium recusandae ut.
        href: Sunt maiores deserunt soluta expedita autem.
        id: 333cc9a2-8284-46ae-b662-219f89172ce1
        last_activity_at: 1973-11-29T23:17:26Z
        metadata:
          Qui a qui quas corrupti voluptatum et.: 2010-01-16T04:33:48Z
        name: Dolorum explicabo commodi.
        serial: Aut aut fuga est reprehenderit quam.
        type: Occaecati sint excepturi et numquam ipsa quod.
        user_id: 65355b8c-229f-4da9-99e7-c11f9041b343
        webhooks:
        - active: false
          id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          uri: http://buckridge.net/marianne
        - active: false
          id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          uri: http://buckridge.net/marianne
      properties:
        created_at:
          description: Creation date of the device
          example: 2008-12-26T18:12:41Z
          format: date-time
          type: string
        events:
          description: ArduinoDevicev2SimplePropertiesCollection is the media type
            for an array of ArduinoDevicev2SimpleProperties (default view)
          example:
          - name: Doloribus molestias voluptas.
            updated_at: 1976-02-22T00:37:10Z
            value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
          - name: Doloribus molestias voluptas.
            updated_at: 1976-02-22T00:37:10Z
            value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
          - name: Doloribus molestias voluptas.
            updated_at: 1976-02-22T00:37:10Z
            value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
          items:
            $ref: '#/components/schemas/ArduinoDevicev2SimpleProperties'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
            type=collection; view=default'
          type: array
        fqbn:
          description: The fully qualified board name
          example: Aut culpa eum rerum laudantium recusandae ut.
          type: string
        href:
          description: The api reference of this device
          example: Sunt maiores deserunt soluta expedita autem.
          type: string
        id:
          description: The arn of the device
          example: 333cc9a2-8284-46ae-b662-219f89172ce1
          format: uuid
          type: string
        last_activity_at:
          description: Last activity date
          example: 1973-11-29T23:17:26Z
          format: date-time
          type: string
        metadata:
          additionalProperties: true
          description: The metadata of the device
          example:
            Qui a qui quas corrupti voluptatum et.: 2010-01-16T04:33:48Z
          type: object
        name:
          description: The friendly name of the device
          example: Dolorum explicabo commodi.
          type: string
        serial:
          description: The serial uuid of the device
          example: Aut aut fuga est reprehenderit quam.
          type: string
        type:
          description: The type of the device
          example: Occaecati sint excepturi et numquam ipsa quod.
          type: string
        user_id:
          description: The id of the user
          example: 65355b8c-229f-4da9-99e7-c11f9041b343
          format: uuid
          type: string
        webhooks:
          description: ArduinoDevicev2WebhookCollection is the media type for an array
            of ArduinoDevicev2Webhook (default view)
          example:
          - active: false
            id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
            uri: http://buckridge.net/marianne
          - active: false
            id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
            uri: http://buckridge.net/marianne
          items:
            $ref: '#/components/schemas/ArduinoDevicev2Webhook'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
            type=collection; view=default'
          type: array
      required:
      - href
      - id
      - name
      - serial
      - type
      - user_id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2+json; view=default'
      type: object
    ArduinoDevicev2Cert:
      description: DeviceCertV2 describes a certificate associated to the device (default
        view)
      example:
        ca: Voluptatem placeat velit voluptatem delectus nesciunt.
        compressed:
          authority_key_identifier: Facere qui ipsam soluta autem quo.
          not_after: 1986-06-24T05:15:59Z
          not_before: 1990-06-18T03:07:07Z
          serial: Rerum reiciendis nesciunt amet libero est vitae.
          signature: Similique voluptatem tenetur sit voluptatem.
          signature_asn1_x: Aut architecto expedita consequatur nam qui atque.
          signature_asn1_y: Distinctio occaecati laudantium quis distinctio blanditiis
            quos.
        der: Vel laboriosam reprehenderit consequatur.
        device_id: 7b13122d-616d-4a75-8db7-5dd4f9178fe5
        enabled: false
        href: Qui sit repellendus facere dolores neque.
        id: 9f88db03-0de6-4671-94e2-036437ee16d2
        pem: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
          \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
          \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
          \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
          \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
          \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
          \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
      properties:
        ca:
          description: The Certification Authority used to sign the certificate
          example: Voluptatem placeat velit voluptatem delectus nesciunt.
          type: string
        compressed:
          $ref: '#/components/schemas/ArduinoCompressedv2'
        der:
          description: The certificate in DER format
          example: Vel laboriosam reprehenderit consequatur.
          type: string
        device_id:
          description: The unique identifier of the device
          example: 7b13122d-616d-4a75-8db7-5dd4f9178fe5
          format: uuid
          type: string
        enabled:
          default: true
          description: Whether the certificate is enabled
          example: false
          type: boolean
        href:
          description: The api reference of this cert
          example: Qui sit repellendus facere dolores neque.
          type: string
        id:
          description: The unique identifier of the key
          example: 9f88db03-0de6-4671-94e2-036437ee16d2
          format: uuid
          type: string
        pem:
          description: The certificate in pem format
          example: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
            \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
            \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
            \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
            \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
            \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
            \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
          maxLength: 512
          type: string
      required:
      - compressed
      - der
      - device_id
      - enabled
      - href
      - id
      - pem
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.cert+json; view=default'
      type: object
    ArduinoDevicev2CertCollection:
      description: ArduinoDevicev2CertCollection is the media type for an array of
        ArduinoDevicev2Cert (default view)
      example:
      - ca: Voluptatem placeat velit voluptatem delectus nesciunt.
        compressed:
          authority_key_identifier: Facere qui ipsam soluta autem quo.
          not_after: 1986-06-24T05:15:59Z
          not_before: 1990-06-18T03:07:07Z
          serial: Rerum reiciendis nesciunt amet libero est vitae.
          signature: Similique voluptatem tenetur sit voluptatem.
          signature_asn1_x: Aut architecto expedita consequatur nam qui atque.
          signature_asn1_y: Distinctio occaecati laudantium quis distinctio blanditiis
            quos.
        der: Vel laboriosam reprehenderit consequatur.
        device_id: 7b13122d-616d-4a75-8db7-5dd4f9178fe5
        enabled: false
        href: Qui sit repellendus facere dolores neque.
        id: 9f88db03-0de6-4671-94e2-036437ee16d2
        pem: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
          \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
          \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
          \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
          \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
          \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
          \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
      - ca: Voluptatem placeat velit voluptatem delectus nesciunt.
        compressed:
          authority_key_identifier: Facere qui ipsam soluta autem quo.
          not_after: 1986-06-24T05:15:59Z
          not_before: 1990-06-18T03:07:07Z
          serial: Rerum reiciendis nesciunt amet libero est vitae.
          signature: Similique voluptatem tenetur sit voluptatem.
          signature_asn1_x: Aut architecto expedita consequatur nam qui atque.
          signature_asn1_y: Distinctio occaecati laudantium quis distinctio blanditiis
            quos.
        der: Vel laboriosam reprehenderit consequatur.
        device_id: 7b13122d-616d-4a75-8db7-5dd4f9178fe5
        enabled: false
        href: Qui sit repellendus facere dolores neque.
        id: 9f88db03-0de6-4671-94e2-036437ee16d2
        pem: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
          \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
          \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
          \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
          \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
          \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
          \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
      - ca: Voluptatem placeat velit voluptatem delectus nesciunt.
        compressed:
          authority_key_identifier: Facere qui ipsam soluta autem quo.
          not_after: 1986-06-24T05:15:59Z
          not_before: 1990-06-18T03:07:07Z
          serial: Rerum reiciendis nesciunt amet libero est vitae.
          signature: Similique voluptatem tenetur sit voluptatem.
          signature_asn1_x: Aut architecto expedita consequatur nam qui atque.
          signature_asn1_y: Distinctio occaecati laudantium quis distinctio blanditiis
            quos.
        der: Vel laboriosam reprehenderit consequatur.
        device_id: 7b13122d-616d-4a75-8db7-5dd4f9178fe5
        enabled: false
        href: Qui sit repellendus facere dolores neque.
        id: 9f88db03-0de6-4671-94e2-036437ee16d2
        pem: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
          \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
          \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
          \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
          \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
          \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
          \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
      items:
        $ref: '#/components/schemas/ArduinoDevicev2Cert'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.cert+json; type=collection;
        view=default'
      type: array
    ArduinoDevicev2Collection:
      description: ArduinoDevicev2Collection is the media type for an array of ArduinoDevicev2
        (default view)
      example:
      - created_at: 2008-12-26T18:12:41Z
        events:
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        fqbn: Aut culpa eum rerum laudantium recusandae ut.
        href: Sunt maiores deserunt soluta expedita autem.
        id: 333cc9a2-8284-46ae-b662-219f89172ce1
        last_activity_at: 1973-11-29T23:17:26Z
        metadata:
          Qui a qui quas corrupti voluptatum et.: 2010-01-16T04:33:48Z
        name: Dolorum explicabo commodi.
        serial: Aut aut fuga est reprehenderit quam.
        type: Occaecati sint excepturi et numquam ipsa quod.
        user_id: 65355b8c-229f-4da9-99e7-c11f9041b343
        webhooks:
        - active: false
          id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          uri: http://buckridge.net/marianne
        - active: false
          id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          uri: http://buckridge.net/marianne
      - created_at: 2008-12-26T18:12:41Z
        events:
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        fqbn: Aut culpa eum rerum laudantium recusandae ut.
        href: Sunt maiores deserunt soluta expedita autem.
        id: 333cc9a2-8284-46ae-b662-219f89172ce1
        last_activity_at: 1973-11-29T23:17:26Z
        metadata:
          Qui a qui quas corrupti voluptatum et.: 2010-01-16T04:33:48Z
        name: Dolorum explicabo commodi.
        serial: Aut aut fuga est reprehenderit quam.
        type: Occaecati sint excepturi et numquam ipsa quod.
        user_id: 65355b8c-229f-4da9-99e7-c11f9041b343
        webhooks:
        - active: false
          id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          uri: http://buckridge.net/marianne
        - active: false
          id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          uri: http://buckridge.net/marianne
      - created_at: 2008-12-26T18:12:41Z
        events:
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        fqbn: Aut culpa eum rerum laudantium recusandae ut.
        href: Sunt maiores deserunt soluta expedita autem.
        id: 333cc9a2-8284-46ae-b662-219f89172ce1
        last_activity_at: 1973-11-29T23:17:26Z
        metadata:
          Qui a qui quas corrupti voluptatum et.: 2010-01-16T04:33:48Z
        name: Dolorum explicabo commodi.
        serial: Aut aut fuga est reprehenderit quam.
        type: Occaecati sint excepturi et numquam ipsa quod.
        user_id: 65355b8c-229f-4da9-99e7-c11f9041b343
        webhooks:
        - active: false
          id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          uri: http://buckridge.net/marianne
        - active: false
          id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          uri: http://buckridge.net/marianne
      items:
        $ref: '#/components/schemas/ArduinoDevicev2'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2+json; type=collection;
        view=default'
      type: array
    ArduinoDevicev2EventProperties:
      description: ArduinoDevicev2EventProperties media type (default view)
      example:
        events:
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        - name: Doloribus molestias voluptas.
          updated_at: 1976-02-22T00:37:10Z
          value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
        id: 1fc543f3-679a-4336-962b-e3bcf5dbb840
      properties:
        events:
          description: ArduinoDevicev2SimplePropertiesCollection is the media type
            for an array of ArduinoDevicev2SimpleProperties (default view)
          example:
          - name: Doloribus molestias voluptas.
            updated_at: 1976-02-22T00:37:10Z
            value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
          - name: Doloribus molestias voluptas.
            updated_at: 1976-02-22T00:37:10Z
            value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
          - name: Doloribus molestias voluptas.
            updated_at: 1976-02-22T00:37:10Z
            value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
          items:
            $ref: '#/components/schemas/ArduinoDevicev2SimpleProperties'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
            type=collection; view=default'
          type: array
        id:
          description: The device of the property
          example: 1fc543f3-679a-4336-962b-e3bcf5dbb840
          format: uuid
          type: string
      required:
      - events
      - id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.event.properties+json;
        view=default'
      type: object
    ArduinoDevicev2Pass:
      description: DeviceCertV2 describes a password associated to a device (default
        view)
      example:
        set: false
        suggested_password: Veritatis maiores fugiat consequatur.
      properties:
        set:
          description: Whether the password is set or not
          example: false
          type: boolean
        suggested_password:
          description: A random suggested password
          example: Veritatis maiores fugiat consequatur.
          type: string
      required:
      - set
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.pass+json; view=default'
      type: object
    ArduinoDevicev2SimpleProperties:
      description: ArduinoDevicev2SimpleProperties media type (default view)
      example:
        name: Doloribus molestias voluptas.
        updated_at: 1976-02-22T00:37:10Z
        value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
      properties:
        name:
          description: The name of the property
          example: Doloribus molestias voluptas.
          type: string
        updated_at:
          description: Update date of the property
          example: 1976-02-22T00:37:10Z
          format: date-time
          type: string
        value:
          description: Value of the property
          example: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
      required:
      - name
      - updated_at
      - value
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
        view=default'
      type: object
    ArduinoDevicev2SimplePropertiesCollection:
      description: ArduinoDevicev2SimplePropertiesCollection is the media type for
        an array of ArduinoDevicev2SimpleProperties (default view)
      example:
      - name: Doloribus molestias voluptas.
        updated_at: 1976-02-22T00:37:10Z
        value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
      - name: Doloribus molestias voluptas.
        updated_at: 1976-02-22T00:37:10Z
        value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
      - name: Doloribus molestias voluptas.
        updated_at: 1976-02-22T00:37:10Z
        value: 1c918595-dc89-4fcc-9ab6-467d80ec61d0
      items:
        $ref: '#/components/schemas/ArduinoDevicev2SimpleProperties'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
        type=collection; view=default'
      type: array
    ArduinoDevicev2Webhook:
      description: DeviceWebhookV2 describes a webhook associated to the device (default
        view)
      example:
        active: false
        id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
        uri: http://buckridge.net/marianne
      properties:
        active:
          default: true
          description: Whether the webhook is active
          example: false
          type: boolean
        id:
          description: The uuid of the webhook
          example: cd266628-d0a0-4b04-a83c-71d7cd5d3826
          format: uuid
          type: string
        uri:
          description: The uri of the webhook
          example: http://buckridge.net/marianne
          format: uri
          type: string
      required:
      - id
      - uri
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
        view=default'
      type: object
    ArduinoDevicev2WebhookCollection:
      description: ArduinoDevicev2WebhookCollection is the media type for an array
        of ArduinoDevicev2Webhook (default view)
      example:
      - active: false
        id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
        uri: http://buckridge.net/marianne
      - active: false
        id: cd266628-d0a0-4b04-a83c-71d7cd5d3826
        uri: http://buckridge.net/marianne
      items:
        $ref: '#/components/schemas/ArduinoDevicev2Webhook'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
        type=collection; view=default'
      type: array
    ArduinoDevicev2properties:
      description: ArduinoDevicev2properties media type (default view)
      example:
        data_retention_days: 0.017158929834861936
        deviceId: f9fb4714-ff80-4ecd-82ff-fe1c11e7e5dc
        properties:
        - created_at: 1985-05-30T05:51:02Z
          deleted_at: 1985-04-10T14:48:40Z
          href: Voluptas velit debitis numquam.
          id: cbb8f125-d55c-40ee-94ca-a7be329158a4
          last_value: true
          max_value: 0.2270274660573602
          min_value: 0.3458223821124346
          name: Dolorem aut eveniet distinctio quia.
          permission: Consequuntur aliquid ut quo.
          persist: true
          tag: 0.553350863446863
          thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
          type: Delectus commodi voluptatem veritatis.
          update_parameter: 0.838673975109447
          update_strategy: Ut aut consectetur doloribus.
          updated_at: 2008-03-01T22:44:57Z
          value_updated_at: 1987-10-31T19:31:50Z
          variable_name: Et cum.
        - created_at: 1985-05-30T05:51:02Z
          deleted_at: 1985-04-10T14:48:40Z
          href: Voluptas velit debitis numquam.
          id: cbb8f125-d55c-40ee-94ca-a7be329158a4
          last_value: true
          max_value: 0.2270274660573602
          min_value: 0.3458223821124346
          name: Dolorem aut eveniet distinctio quia.
          permission: Consequuntur aliquid ut quo.
          persist: true
          tag: 0.553350863446863
          thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
          type: Delectus commodi voluptatem veritatis.
          update_parameter: 0.838673975109447
          update_strategy: Ut aut consectetur doloribus.
          updated_at: 2008-03-01T22:44:57Z
          value_updated_at: 1987-10-31T19:31:50Z
          variable_name: Et cum.
        user_id: 8bdb85c5-f835-403f-bfb9-39cfcc756d0a
      properties:
        data_retention_days:
          description: How many days the data will be kept
          example: 0.017158929834861936
          format: double
          type: number
        deviceId:
          description: The device of the property
          example: f9fb4714-ff80-4ecd-82ff-fe1c11e7e5dc
          format: uuid
          type: string
        properties:
          description: ArduinoPropertyCollection is the media type for an array of
            ArduinoProperty (default view)
          example:
          - created_at: 1985-05-30T05:51:02Z
            deleted_at: 1985-04-10T14:48:40Z
            href: Voluptas velit debitis numquam.
            id: cbb8f125-d55c-40ee-94ca-a7be329158a4
            last_value: true
            max_value: 0.2270274660573602
            min_value: 0.3458223821124346
            name: Dolorem aut eveniet distinctio quia.
            permission: Consequuntur aliquid ut quo.
            persist: true
            tag: 0.553350863446863
            thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
            type: Delectus commodi voluptatem veritatis.
            update_parameter: 0.838673975109447
            update_strategy: Ut aut consectetur doloribus.
            updated_at: 2008-03-01T22:44:57Z
            value_updated_at: 1987-10-31T19:31:50Z
            variable_name: Et cum.
          - created_at: 1985-05-30T05:51:02Z
            deleted_at: 1985-04-10T14:48:40Z
            href: Voluptas velit debitis numquam.
            id: cbb8f125-d55c-40ee-94ca-a7be329158a4
            last_value: true
            max_value: 0.2270274660573602
            min_value: 0.3458223821124346
            name: Dolorem aut eveniet distinctio quia.
            permission: Consequuntur aliquid ut quo.
            persist: true
            tag: 0.553350863446863
            thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
            type: Delectus commodi voluptatem veritatis.
            update_parameter: 0.838673975109447
            update_strategy: Ut aut consectetur doloribus.
            updated_at: 2008-03-01T22:44:57Z
            value_updated_at: 1987-10-31T19:31:50Z
            variable_name: Et cum.
          - created_at: 1985-05-30T05:51:02Z
            deleted_at: 1985-04-10T14:48:40Z
            href: Voluptas velit debitis numquam.
            id: cbb8f125-d55c-40ee-94ca-a7be329158a4
            last_value: true
            max_value: 0.2270274660573602
            min_value: 0.3458223821124346
            name: Dolorem aut eveniet distinctio quia.
            permission: Consequuntur aliquid ut quo.
            persist: true
            tag: 0.553350863446863
            thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
            type: Delectus commodi voluptatem veritatis.
            update_parameter: 0.838673975109447
            update_strategy: Ut aut consectetur doloribus.
            updated_at: 2008-03-01T22:44:57Z
            value_updated_at: 1987-10-31T19:31:50Z
            variable_name: Et cum.
          items:
            $ref: '#/components/schemas/ArduinoProperty'
          title: 'Mediatype identifier: application/vnd.arduino.property+json; type=collection;
            view=default'
          type: array
        user_id:
          description: The user id of the owner
          example: 8bdb85c5-f835-403f-bfb9-39cfcc756d0a
          format: uuid
          type: string
      required:
      - data_retention_days
      - deviceId
      - properties
      - user_id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2properties+json;
        view=default'
      type: object
    ArduinoDevicev2propertyvalue:
      description: ArduinoDevicev2propertyvalue media type (default view)
      example:
        created_at: 2014-06-28T21:29:07Z
        value:
          payload: Officiis omnis animi hic magnam optio.
          seqno: 97046750376806740
          statistics:
            adr: 0.29123958894625906
            channel: 0.9067990865360126
            duplicate: 0.23726501923298104
            freq: 0.10815957932005495
            modBW: 0.4634843366964926
            rssi: 0.037609672803732105
            seqno: 0.00136794523068846
            sf: 0.9144273278077354
            snr: 0.5495513936018442
            time: 0.02851660548332954
      properties:
        created_at:
          example: 2014-06-28T21:29:07Z
          format: date-time
          type: string
        value:
          $ref: '#/components/schemas/ArduinoDevicev2propertyvalue_value'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
        view=default'
      type: object
    ArduinoDevicev2propertyvalueCollection:
      description: ArduinoDevicev2propertyvalueCollection is the media type for an
        array of ArduinoDevicev2propertyvalue (default view)
      example:
      - created_at: 2014-06-28T21:29:07Z
        value:
          payload: Officiis omnis animi hic magnam optio.
          seqno: 97046750376806740
          statistics:
            adr: 0.29123958894625906
            channel: 0.9067990865360126
            duplicate: 0.23726501923298104
            freq: 0.10815957932005495
            modBW: 0.4634843366964926
            rssi: 0.037609672803732105
            seqno: 0.00136794523068846
            sf: 0.9144273278077354
            snr: 0.5495513936018442
            time: 0.02851660548332954
      items:
        $ref: '#/components/schemas/ArduinoDevicev2propertyvalue'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
        type=collection; view=default'
      type: array
    ArduinoDevicev2propertyvalues:
      description: ArduinoDevicev2propertyvalues media type (default view)
      example:
        id: Quae vero sit labore.
        last_evaluated_key:
          created_at: 1997-02-25T01:34:07Z
          id: Consectetur natus.
          name: Est reiciendis quaerat necessitatibus eos nobis.
        name: Error voluptate dolor.
        values:
        - created_at: 2014-06-28T21:29:07Z
          value:
            payload: Officiis omnis animi hic magnam optio.
            seqno: 97046750376806740
            statistics:
              adr: 0.29123958894625906
              channel: 0.9067990865360126
              duplicate: 0.23726501923298104
              freq: 0.10815957932005495
              modBW: 0.4634843366964926
              rssi: 0.037609672803732105
              seqno: 0.00136794523068846
              sf: 0.9144273278077354
              snr: 0.5495513936018442
              time: 0.02851660548332954
        - created_at: 2014-06-28T21:29:07Z
          value:
            payload: Officiis omnis animi hic magnam optio.
            seqno: 97046750376806740
            statistics:
              adr: 0.29123958894625906
              channel: 0.9067990865360126
              duplicate: 0.23726501923298104
              freq: 0.10815957932005495
              modBW: 0.4634843366964926
              rssi: 0.037609672803732105
              seqno: 0.00136794523068846
              sf: 0.9144273278077354
              snr: 0.5495513936018442
              time: 0.02851660548332954
        - created_at: 2014-06-28T21:29:07Z
          value:
            payload: Officiis omnis animi hic magnam optio.
            seqno: 97046750376806740
            statistics:
              adr: 0.29123958894625906
              channel: 0.9067990865360126
              duplicate: 0.23726501923298104
              freq: 0.10815957932005495
              modBW: 0.4634843366964926
              rssi: 0.037609672803732105
              seqno: 0.00136794523068846
              sf: 0.9144273278077354
              snr: 0.5495513936018442
              time: 0.02851660548332954
      properties:
        id:
          example: Quae vero sit labore.
          type: string
        last_evaluated_key:
          $ref: '#/components/schemas/ArduinoDevicev2propertyvalues_last_evaluated_key'
        name:
          example: Error voluptate dolor.
          type: string
        values:
          description: ArduinoDevicev2propertyvalueCollection is the media type for
            an array of ArduinoDevicev2propertyvalue (default view)
          example:
          - created_at: 2014-06-28T21:29:07Z
            value:
              payload: Officiis omnis animi hic magnam optio.
              seqno: 97046750376806740
              statistics:
                adr: 0.29123958894625906
                channel: 0.9067990865360126
                duplicate: 0.23726501923298104
                freq: 0.10815957932005495
                modBW: 0.4634843366964926
                rssi: 0.037609672803732105
                seqno: 0.00136794523068846
                sf: 0.9144273278077354
                snr: 0.5495513936018442
                time: 0.02851660548332954
          items:
            $ref: '#/components/schemas/ArduinoDevicev2propertyvalue'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
            type=collection; view=default'
          type: array
      required:
      - id
      - last_evaluated_key
      - name
      - values
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalues+json;
        view=default'
      type: object
    ArduinoProperty:
      description: ArduinoProperty media type (default view)
      example:
        created_at: 1985-05-30T05:51:02Z
        deleted_at: 1985-04-10T14:48:40Z
        href: Voluptas velit debitis numquam.
        id: cbb8f125-d55c-40ee-94ca-a7be329158a4
        last_value: true
        max_value: 0.2270274660573602
        min_value: 0.3458223821124346
        name: Dolorem aut eveniet distinctio quia.
        permission: Consequuntur aliquid ut quo.
        persist: true
        tag: 0.553350863446863
        thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
        type: Delectus commodi voluptatem veritatis.
        update_parameter: 0.838673975109447
        update_strategy: Ut aut consectetur doloribus.
        updated_at: 2008-03-01T22:44:57Z
        value_updated_at: 1987-10-31T19:31:50Z
        variable_name: Et cum.
      properties:
        created_at:
          description: Creation date of the property
          example: 1985-05-30T05:51:02Z
          format: date-time
          type: string
        deleted_at:
          description: Delete date of the property
          example: 1985-04-10T14:48:40Z
          format: date-time
          type: string
        href:
          description: The api reference of this property
          example: Voluptas velit debitis numquam.
          type: string
        id:
          description: The id of the property
          example: cbb8f125-d55c-40ee-94ca-a7be329158a4
          format: uuid
          type: string
        last_value:
          description: Last value of this property
          example: true
        max_value:
          description: Maximum value of this property
          example: 0.2270274660573602
          format: double
          type: number
        min_value:
          description: Minimum value of this property
          example: 0.3458223821124346
          format: double
          type: number
        name:
          description: The friendly name of the property
          example: Dolorem aut eveniet distinctio quia.
          type: string
        permission:
          description: The permission of the property
          example: Consequuntur aliquid ut quo.
          type: string
        persist:
          description: If true, data will persist into a timeseries database
          example: true
          type: boolean
        tag:
          description: The integer id of the property
          example: 0.553350863446863
          format: double
          type: number
        thing_id:
          description: The id of the thing
          example: 48df4f34-34ac-41ab-8e52-d05bb7a96473
          format: uuid
          type: string
        type:
          description: The type of the property
          example: Delectus commodi voluptatem veritatis.
          type: string
        update_parameter:
          description: The update frequency in seconds, or the amount of the property
            has to change in order to trigger an update
          example: 0.838673975109447
          format: double
          type: number
        update_strategy:
          description: The update strategy for the property value
          example: Ut aut consectetur doloribus.
          type: string
        updated_at:
          description: Update date of the property
          example: 2008-03-01T22:44:57Z
          format: date-time
          type: string
        value_updated_at:
          description: Last update timestamp of this property
          example: 1987-10-31T19:31:50Z
          format: date-time
          type: string
        variable_name:
          description: The sketch variable name of the property
          example: Et cum.
          type: string
      required:
      - href
      - id
      - name
      - permission
      - thing_id
      - type
      - update_strategy
      title: 'Mediatype identifier: application/vnd.arduino.property+json; view=default'
      type: object
    ArduinoPropertyCollection:
      description: ArduinoPropertyCollection is the media type for an array of ArduinoProperty
        (default view)
      example:
      - created_at: 1985-05-30T05:51:02Z
        deleted_at: 1985-04-10T14:48:40Z
        href: Voluptas velit debitis numquam.
        id: cbb8f125-d55c-40ee-94ca-a7be329158a4
        last_value: true
        max_value: 0.2270274660573602
        min_value: 0.3458223821124346
        name: Dolorem aut eveniet distinctio quia.
        permission: Consequuntur aliquid ut quo.
        persist: true
        tag: 0.553350863446863
        thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
        type: Delectus commodi voluptatem veritatis.
        update_parameter: 0.838673975109447
        update_strategy: Ut aut consectetur doloribus.
        updated_at: 2008-03-01T22:44:57Z
        value_updated_at: 1987-10-31T19:31:50Z
        variable_name: Et cum.
      - created_at: 1985-05-30T05:51:02Z
        deleted_at: 1985-04-10T14:48:40Z
        href: Voluptas velit debitis numquam.
        id: cbb8f125-d55c-40ee-94ca-a7be329158a4
        last_value: true
        max_value: 0.2270274660573602
        min_value: 0.3458223821124346
        name: Dolorem aut eveniet distinctio quia.
        permission: Consequuntur aliquid ut quo.
        persist: true
        tag: 0.553350863446863
        thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
        type: Delectus commodi voluptatem veritatis.
        update_parameter: 0.838673975109447
        update_strategy: Ut aut consectetur doloribus.
        updated_at: 2008-03-01T22:44:57Z
        value_updated_at: 1987-10-31T19:31:50Z
        variable_name: Et cum.
      - created_at: 1985-05-30T05:51:02Z
        deleted_at: 1985-04-10T14:48:40Z
        href: Voluptas velit debitis numquam.
        id: cbb8f125-d55c-40ee-94ca-a7be329158a4
        last_value: true
        max_value: 0.2270274660573602
        min_value: 0.3458223821124346
        name: Dolorem aut eveniet distinctio quia.
        permission: Consequuntur aliquid ut quo.
        persist: true
        tag: 0.553350863446863
        thing_id: 48df4f34-34ac-41ab-8e52-d05bb7a96473
        type: Delectus commodi voluptatem veritatis.
        update_parameter: 0.838673975109447
        update_strategy: Ut aut consectetur doloribus.
        updated_at: 2008-03-01T22:44:57Z
        value_updated_at: 1987-10-31T19:31:50Z
        variable_name: Et cum.
      items:
        $ref: '#/components/schemas/ArduinoProperty'
      title: 'Mediatype identifier: application/vnd.arduino.property+json; type=collection;
        view=default'
      type: array
    ArduinoSeriesBatch:
      description: ArduinoSeriesBatch media type (default view)
      example:
        resp_version: 2147838901230905900
        responses:
        - count_values: 5982563348523481000
          from_date: 2006-08-30T13:55:47Z
          interval: 5119117606010716000
          message: Sit impedit molestiae deleniti consequatur.
          query: Blanditiis sint.
          resp_version: 446880538254381760
          series_limit: 7058687447120057000
          status: Corporis reiciendis molestiae.
          times:
          - 2009-08-08T21:46:13Z
          - 2009-08-08T21:46:13Z
          to_date: 2006-12-14T20:41:00Z
          values:
          - 0.18704486014797067
        - count_values: 5982563348523481000
          from_date: 2006-08-30T13:55:47Z
          interval: 5119117606010716000
          message: Sit impedit molestiae deleniti consequatur.
          query: Blanditiis sint.
          resp_version: 446880538254381760
          series_limit: 7058687447120057000
          status: Corporis reiciendis molestiae.
          times:
          - 2009-08-08T21:46:13Z
          - 2009-08-08T21:46:13Z
          to_date: 2006-12-14T20:41:00Z
          values:
          - 0.18704486014797067
        - count_values: 5982563348523481000
          from_date: 2006-08-30T13:55:47Z
          interval: 5119117606010716000
          message: Sit impedit molestiae deleniti consequatur.
          query: Blanditiis sint.
          resp_version: 446880538254381760
          series_limit: 7058687447120057000
          status: Corporis reiciendis molestiae.
          times:
          - 2009-08-08T21:46:13Z
          - 2009-08-08T21:46:13Z
          to_date: 2006-12-14T20:41:00Z
          values:
          - 0.18704486014797067
      properties:
        resp_version:
          description: Response version
          example: 2147838901230905900
          format: int64
          type: integer
        responses:
          description: Responses of the request
          example:
          - count_values: 5982563348523481000
            from_date: 2006-08-30T13:55:47Z
            interval: 5119117606010716000
            message: Sit impedit molestiae deleniti consequatur.
            query: Blanditiis sint.
            resp_version: 446880538254381760
            series_limit: 7058687447120057000
            status: Corporis reiciendis molestiae.
            times:
            - 2009-08-08T21:46:13Z
            - 2009-08-08T21:46:13Z
            to_date: 2006-12-14T20:41:00Z
            values:
            - 0.18704486014797067
          - count_values: 5982563348523481000
            from_date: 2006-08-30T13:55:47Z
            interval: 5119117606010716000
            message: Sit impedit molestiae deleniti consequatur.
            query: Blanditiis sint.
            resp_version: 446880538254381760
            series_limit: 7058687447120057000
            status: Corporis reiciendis molestiae.
            times:
            - 2009-08-08T21:46:13Z
            - 2009-08-08T21:46:13Z
            to_date: 2006-12-14T20:41:00Z
            values:
            - 0.18704486014797067
          - count_values: 5982563348523481000
            from_date: 2006-08-30T13:55:47Z
            interval: 5119117606010716000
            message: Sit impedit molestiae deleniti consequatur.
            query: Blanditiis sint.
            resp_version: 446880538254381760
            series_limit: 7058687447120057000
            status: Corporis reiciendis molestiae.
            times:
            - 2009-08-08T21:46:13Z
            - 2009-08-08T21:46:13Z
            to_date: 2006-12-14T20:41:00Z
            values:
            - 0.18704486014797067
          items:
            $ref: '#/components/schemas/ArduinoSeriesResponse'
          type: array
      required:
      - resp_version
      - responses
      title: 'Mediatype identifier: application/vnd.arduino.series.batch+json; view=default'
      type: object
    ArduinoSeriesRawBatch:
      description: ArduinoSeriesRawBatch media type (default view)
      example:
        resp_version: 3188651536602161700
        responses:
        - count_values: 4352032313266232000
          from_date: 2009-03-13T02:58:53Z
          message: Consequuntur id deserunt.
          query: Repudiandae optio eius qui est.
          resp_version: 5244473074470870000
          series:
            metric: Sit praesentium.
          series_limit: 6138321197683599000
          sort: DESC
          status: Omnis nobis odio quisquam aut quidem quis.
          times:
          - 2011-08-31T08:39:52Z
          - 2011-08-31T08:39:52Z
          - 2011-08-31T08:39:52Z
          to_date: 1984-08-20T16:18:42Z
          values:
          - 4010933692518768600
          - 4010933692518768600
        - count_values: 4352032313266232000
          from_date: 2009-03-13T02:58:53Z
          message: Consequuntur id deserunt.
          query: Repudiandae optio eius qui est.
          resp_version: 5244473074470870000
          series:
            metric: Sit praesentium.
          series_limit: 6138321197683599000
          sort: DESC
          status: Omnis nobis odio quisquam aut quidem quis.
          times:
          - 2011-08-31T08:39:52Z
          - 2011-08-31T08:39:52Z
          - 2011-08-31T08:39:52Z
          to_date: 1984-08-20T16:18:42Z
          values:
          - 4010933692518768600
          - 4010933692518768600
      properties:
        resp_version:
          description: Response version
          example: 3188651536602161700
          format: int64
          type: integer
        responses:
          description: Responses of the request
          example:
          - count_values: 4352032313266232000
            from_date: 2009-03-13T02:58:53Z
            message: Consequuntur id deserunt.
            query: Repudiandae optio eius qui est.
            resp_version: 5244473074470870000
            series:
              metric: Sit praesentium.
            series_limit: 6138321197683599000
            sort: DESC
            status: Omnis nobis odio quisquam aut quidem quis.
            times:
            - 2011-08-31T08:39:52Z
            - 2011-08-31T08:39:52Z
            - 2011-08-31T08:39:52Z
            to_date: 1984-08-20T16:18:42Z
            values:
            - 4010933692518768600
            - 4010933692518768600
          - count_values: 4352032313266232000
            from_date: 2009-03-13T02:58:53Z
            message: Consequuntur id deserunt.
            query: Repudiandae optio eius qui est.
            resp_version: 5244473074470870000
            series:
              metric: Sit praesentium.
            series_limit: 6138321197683599000
            sort: DESC
            status: Omnis nobis odio quisquam aut quidem quis.
            times:
            - 2011-08-31T08:39:52Z
            - 2011-08-31T08:39:52Z
            - 2011-08-31T08:39:52Z
            to_date: 1984-08-20T16:18:42Z
            values:
            - 4010933692518768600
            - 4010933692518768600
          items:
            $ref: '#/components/schemas/ArduinoSeriesRawResponse'
          type: array
      required:
      - resp_version
      - responses
      title: 'Mediatype identifier: application/vnd.arduino.series.raw.batch+json;
        view=default'
      type: object
    ArduinoSeriesRawBatchLastvalue:
      description: ArduinoSeriesRawBatchLastvalue media type (default view)
      example:
        responses:
        - count_values: 2465565181916336000
          property_id: 51ac57bf-0fa4-48bd-8475-207c613d8ad6
          thing_id: 4469469a-4372-405f-965a-9160429b7033
          times:
          - 1983-06-16T19:24:06Z
          - 1983-06-16T19:24:06Z
          - 1983-06-16T19:24:06Z
          values:
          - 0.42961546196471234
          - 0.42961546196471234
        - count_values: 2465565181916336000
          property_id: 51ac57bf-0fa4-48bd-8475-207c613d8ad6
          thing_id: 4469469a-4372-405f-965a-9160429b7033
          times:
          - 1983-06-16T19:24:06Z
          - 1983-06-16T19:24:06Z
          - 1983-06-16T19:24:06Z
          values:
          - 0.42961546196471234
          - 0.42961546196471234
        status: Nulla non.
      properties:
        responses:
          description: Responses of the request
          example:
          - count_values: 2465565181916336000
            property_id: 51ac57bf-0fa4-48bd-8475-207c613d8ad6
            thing_id: 4469469a-4372-405f-965a-9160429b7033
            times:
            - 1983-06-16T19:24:06Z
            - 1983-06-16T19:24:06Z
            - 1983-06-16T19:24:06Z
            values:
            - 0.42961546196471234
            - 0.42961546196471234
          - count_values: 2465565181916336000
            property_id: 51ac57bf-0fa4-48bd-8475-207c613d8ad6
            thing_id: 4469469a-4372-405f-965a-9160429b7033
            times:
            - 1983-06-16T19:24:06Z
            - 1983-06-16T19:24:06Z
            - 1983-06-16T19:24:06Z
            values:
            - 0.42961546196471234
            - 0.42961546196471234
          items:
            $ref: '#/components/schemas/ArduinoSeriesRawLastValueResponse'
          type: array
        status:
          description: Status of the response
          example: Nulla non.
          type: string
      required:
      - responses
      - status
      title: 'Mediatype identifier: application/vnd.arduino.series.raw.batch.lastvalue+json;
        view=default'
      type: object
    ArduinoSeriesRawLastValueResponse:
      description: ArduinoSeriesRawLastValueResponse media type (default view)
      example:
        count_values: 2465565181916336000
        property_id: 51ac57bf-0fa4-48bd-8475-207c613d8ad6
        thing_id: 4469469a-4372-405f-965a-9160429b7033
        times:
        - 1983-06-16T19:24:06Z
        - 1983-06-16T19:24:06Z
        - 1983-06-16T19:24:06Z
        values:
        - 0.42961546196471234
        - 0.42961546196471234
      properties:
        count_values:
          description: Total number of values in the array 'values'
          example: 2465565181916336000
          format: int64
          type: integer
        property_id:
          description: Property id
          example: 51ac57bf-0fa4-48bd-8475-207c613d8ad6
          format: uuid
          type: string
        thing_id:
          description: Thing id
          example: 4469469a-4372-405f-965a-9160429b7033
          format: uuid
          type: string
        times:
          description: Timestamp in RFC3339
          example:
          - 1983-06-16T19:24:06Z
          - 1983-06-16T19:24:06Z
          - 1983-06-16T19:24:06Z
          items:
            example: 1983-06-16T19:24:06Z
            format: date-time
            type: string
          type: array
        values:
          description: Values can be in Float, String, Bool, Object
          example:
          - 0.42961546196471234
          - 0.42961546196471234
          items:
            example: 0.42961546196471234
          type: array
      required:
      - count_values
      - property_id
      - thing_id
      - times
      - values
      title: 'Mediatype identifier: application/vnd.arduino.series.raw.last.value.response+json;
        view=default'
      type: object
[...]
