openapi: 3.0.3
info:
  description: |2-

    Provides a set of endpoints to manage Arduino IoT Cloud **Devices**, **Things**, **Properties** and **Timeseries**. This API can be called just with any HTTP Client, or using one of these clients:

    * [Javascript NPM package](https://www.npmjs.com/package/@arduino/arduino-iot-client)

    * [Python PYPI Package](https://pypi.org/project/arduino-iot-client/)

    * [Golang Module](https://github.com/arduino/iot-client-go)
  title: Arduino IoT Cloud API
  version: "2.0"
servers:
- url: https://api2.arduino.cc/iot
paths:
  /v2/devices:
    get:
      description: Returns the list of devices associated to the user
      operationId: devices_v2#list
      parameters:
      - description: If true, returns all the devices
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Filter by device serial number
        explode: true
        in: query
        name: serial
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Collection'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2
      tags:
      - devices_v2
    put:
      description: Creates a new device associated to the user.
      operationId: devices_v2#create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2Payload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2Payload'
        description: DeviceV2 describes a device.
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}:
    delete:
      description: Removes a device associated to the user
      operationId: devices_v2#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2
      tags:
      - devices_v2
    get:
      description: Returns the device requested by the user
      operationId: devices_v2#show
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show devices_v2
      tags:
      - devices_v2
    post:
      description: Updates a device associated to the user
      operationId: devices_v2#update
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2'
        description: DeviceV2 describes a device.
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/certs:
    get:
      description: Returns the list of certs associated to the device
      operationId: devices_v2_certs#list
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2CertCollection'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list devices_v2_certs
      tags:
      - devices_v2_certs
    put:
      description: Creates a new cert associated to a device. The csr is signed and
        saved in database. The CommonName will be replaced with the device id.
      operationId: devices_v2_certs#create
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2CertsPayload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2CertsPayload'
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create devices_v2_certs
      tags:
      - devices_v2_certs
  /v2/devices/{id}/certs/{cid}:
    delete:
      description: Removes a cert associated to a device
      operationId: devices_v2_certs#delete
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_certs
      tags:
      - devices_v2_certs
    get:
      description: Returns the cert requested by the user
      operationId: devices_v2_certs#show
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show devices_v2_certs
      tags:
      - devices_v2_certs
    post:
      description: Updates a cert associated to a device. The csr is signed and saved
        in database. The CommonName will be replaced with the device id.
      operationId: devices_v2_certs#update
      parameters:
      - description: The id of the cert
        explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.cert'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.cert'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Cert'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update devices_v2_certs
      tags:
      - devices_v2_certs
  /v2/devices/{id}/events:
    get:
      description: GET device events
      operationId: devices_v2#getEvents
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of events to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The time at which to start selecting events
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2EventProperties'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: getEvents devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/ota:
    post:
      description: Upload a binary and send it to a device
      operationId: devices_v2_ota#upload
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          multipart/form-data:
            schema:
              properties:
                expire_in_mins:
                  default: 10
                  description: Binary expire time in minutes, default 10 mins
                  type: integer
                  x-formData-name: expire_in_mins
                ota_file:
                  description: OTA file
                  format: binary
                  required:
                  - ota_file
                  type: string
                  x-formData-name: ota_file
              required:
              - ota_file
              type: object
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Gone
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: upload devices_v2_ota
      tags:
      - devices_v2_ota
    put:
      description: Send a binary url to a device
      operationId: devices_v2_ota#send
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.otabinaryurl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.otabinaryurl'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "410":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Gone
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: send devices_v2_ota
      tags:
      - devices_v2_ota
  /v2/devices/{id}/pass:
    delete:
      description: Removes the password for the device.
      operationId: devices_v2_pass#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete devices_v2_pass
      tags:
      - devices_v2_pass
    get:
      description: Returns whether the password for this device is set or not. It
        doesn't return the password.
      operationId: devices_v2_pass#get
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, return a suggested password
        explode: true
        in: query
        name: suggested_password
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: get devices_v2_pass
      tags:
      - devices_v2_pass
    post:
      description: Check if the password matches.
      operationId: devices_v2_pass#check
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckDevicesV2PassPayload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CheckDevicesV2PassPayload'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: check devices_v2_pass
      tags:
      - devices_v2_pass
    put:
      description: Sets the password for the device. It can never be read back.
      operationId: devices_v2_pass#set
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2.pass'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/devicev2.pass'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Pass'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: set devices_v2_pass
      tags:
      - devices_v2_pass
  /v2/devices/{id}/properties:
    get:
      description: GET device properties
      operationId: devices_v2#getProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2properties'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: getProperties devices_v2
      tags:
      - devices_v2
    put:
      description: Update device properties last values
      operationId: devices_v2#updateProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertiesValues'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/propertiesValues'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: updateProperties devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/properties/{pid}:
    get:
      description: GET device properties values in a range of time
      operationId: devices_v2#timeseries
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of properties to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: The time at which to start selecting properties
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2propertyvalues'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: timeseries devices_v2
      tags:
      - devices_v2
  /v2/series/batch_query:
    post:
      description: Returns the batch of time-series data
      operationId: series_v2#batch_query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchQueryRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatch'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRawRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchQueryRawRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatch'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw/lastvalue:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw_last_value
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchLastValueRequestsMediaV1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BatchLastValueRequestsMediaV1'
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatchLastvalue'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "501":
          description: Not Implemented
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw_last_value series_v2
      tags:
      - series_v2
  /v2/series/historic_data:
    post:
      description: Request sending of historical data of properties by email
      operationId: series_v2#historic_data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricDataRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HistoricDataRequest'
        required: true
        x-originalParamName: payload
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: historic_data series_v2
      tags:
      - series_v2
  /v2/things:
    get:
      description: Returns the list of things associated to the user
      operationId: things_v2#list
      parameters:
      - description: If true, returns all the things
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the device you want to filter
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: Filter only the desired things
        explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: If true, shows the soft deleted things
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: If true, returns things with their properties, and last values
        explode: true
        in: query
        name: show_properties
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThingCollection'
          description: OK
        "401":
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list things_v2
      tags:
      - things_v2
    put:
      description: Creates a new thing associated to the user
      operationId: things_v2#create
      parameters:
      - description: If true, detach device from the other thing, and attach to this
          thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thing'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/thing'
        description: ThingPayload describes a thing
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create things_v2
      tags:
      - things_v2
  /v2/things/{id}:
    delete:
      description: Removes a thing associated to the user
      operationId: things_v2#delete
      parameters:
      - description: If true, hard delete the thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete things_v2
      tags:
      - things_v2
    get:
      description: Returns the thing requested by the user
      operationId: things_v2#show
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted thing
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show things_v2
      tags:
      - things_v2
    post:
      description: Updates a thing associated to the user
      operationId: things_v2#update
      parameters:
      - description: If true, detach device from the other thing, and attach to this
          thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thing'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/thing'
        description: ThingPayload describes a thing
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update things_v2
      tags:
      - things_v2
  /v2/things/{id}/properties:
    get:
      description: Returns the list of properties associated to the thing
      operationId: properties_v2#list
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoPropertyCollection'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: list properties_v2
      tags:
      - properties_v2
    put:
      description: Creates a new property associated to a thing
      operationId: properties_v2#create
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/property'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/property'
        description: PropertyPayload describes a property of a thing. No field is
          mandatory
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: create properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}:
    delete:
      description: Removes a property associated to a thing
      operationId: properties_v2#delete
      parameters:
      - description: If true, hard delete the property
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: delete properties_v2
      tags:
      - properties_v2
    get:
      description: Returns the property requested by the user
      operationId: properties_v2#show
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show properties_v2
      tags:
      - properties_v2
    post:
      description: Updates a property associated to a thing
      operationId: properties_v2#update
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/property'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/property'
        description: PropertyPayload describes a property of a thing. No field is
          mandatory
        required: true
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: update properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}/publish:
    put:
      description: Publish a property value to MQTT
      operationId: properties_v2#publish
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertyValue'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/propertyValue'
        description: PropertyValuePayload describes a property value
        required: true
        x-originalParamName: payload
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: publish properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}/timeseries:
    get:
      description: 'Get numerical property''s historic data binned on a specified
        time interval (note: the total number of data points should NOT be greater
        than 1000 otherwise the result could be truncated)'
      operationId: properties_v2#timeseries
      parameters:
      - description: Whether data's ordering (by time) should be descending
        explode: true
        in: query
        name: desc
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: 'Get data with a timestamp >= to this date (default: 2 weeks
          ago, min: 1842-01-01T00:00:00Z, max: 2242-01-01T00:00:00Z)'
        explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Binning interval in seconds (ex. 15mins are 15*60)
        explode: true
        in: query
        name: interval
        required: false
        schema:
          default: 1800
          minimum: 1
          type: integer
        style: form
      - description: ID of a numerical property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: 'Get data with a timestamp < to this date (default: now, min:
          1842-01-01T00:00:00Z, max: 2242-01-01T00:00:00Z)'
        explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoTimeseriesmedia'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: timeseries properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/sketch:
    delete:
      operationId: things_v2#deleteSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: deleteSketch things_v2
      tags:
      - things_v2
    put:
      description: Creates a new sketch thing associated to the thing
      operationId: things_v2#createSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thingSketch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/thingSketch'
        description: ThingSketchPayload describes a sketch of a thing
        required: true
        x-originalParamName: payload
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: createSketch things_v2
      tags:
      - things_v2
  /v2/things/{id}/sketch/{sketchId}:
    put:
      description: Update an existing thing sketch
      operationId: things_v2#updateSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the sketch
        explode: false
        in: path
        name: sketchId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSketch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/updateSketch'
        x-originalParamName: payload
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        "412":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: updateSketch things_v2
      tags:
      - things_v2
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies:
    inline_object:
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/inline_object'
  responses:
    Accepted:
      description: Accepted
    BadRequest:
      description: Bad Request
    NotFound:
      description: Not Found
    NotImplemented:
      description: Not Implemented
    OK:
      description: OK
    Unauthorized:
      description: Unauthorized
  schemas:
    ArduinoCompressedv2:
      description: compressed contains the info from which to generate the certificate
        (default view)
      example:
        authority_key_identifier: Qui ipsam soluta.
        not_after: 2013-10-21T15:12:54Z
        not_before: 2014-07-13T19:52:25Z
        serial: Sapiente numquam rerum reiciendis nesciunt amet libero.
        signature: Vitae ratione similique voluptatem tenetur.
        signature_asn1_x: Voluptatem aut aut architecto expedita consequatur.
        signature_asn1_y: Qui atque.
      properties:
        authority_key_identifier:
          description: The Authority Key Identifier of the certificate
          example: Qui ipsam soluta.
          type: string
        not_after:
          description: The ending date of the certificate
          example: 2013-10-21T15:12:54Z
          format: date-time
          type: string
        not_before:
          description: The starting date of the certificate
          example: 2014-07-13T19:52:25Z
          format: date-time
          type: string
        serial:
          description: The serial number of the certificate
          example: Sapiente numquam rerum reiciendis nesciunt amet libero.
          type: string
        signature:
          description: The signature of the certificate
          example: Vitae ratione similique voluptatem tenetur.
          type: string
        signature_asn1_x:
          description: The ASN1 X component of certificate signature
          example: Voluptatem aut aut architecto expedita consequatur.
          type: string
        signature_asn1_y:
          description: The ASN1 Y component of certificate signature
          example: Qui atque.
          type: string
      required:
      - not_after
      - not_before
      - serial
      - signature
      - signature_asn1_x
      - signature_asn1_y
      title: 'Mediatype identifier: application/vnd.arduino.compressedv2; view=default'
      type: object
    ArduinoDevicev2:
      description: ArduinoDevicev2 media type (default view)
      example:
        created_at: 1979-02-18T09:03:49Z
        events:
        - name: Earum ea non.
          updated_at: 1991-10-15T11:11:45Z
          value: false
        fqbn: Ea ut magnam ipsa.
        href: Vel ipsam dolorem incidunt repellendus voluptatem.
        id: ec5ae54b-3d46-4bf4-8c2c-6fdee5f83ec2
        label: Omnis excepturi quo amet enim earum.
        last_activity_at: 2003-01-01T21:20:30Z
        latest_wifi_fw_version: Quia corrupti voluptatem placeat velit.
        metadata:
          Nesciunt tempora.: false
        name: Consequatur eum natus qui sit repellendus.
        ota_available: true
        ota_compatible: false
        required_wifi_fw_version: In id nobis.
        serial: Veritatis maiores fugiat consequatur.
        thing:
          created_at: 1987-03-16T08:14:01Z
          deleted_at: 2014-09-27T22:43:00Z
          device_id: 65e23e7a-3ef6-4e33-b139-531732f5746d
          href: Corrupti ex qui ut.
          id: 5ee4d085-5daf-498b-92b9-e3a5946b1ef3
          name: Voluptatem molestias.
          properties:
          - created_at: 1979-04-16T17:41:57Z
            deleted_at: 2000-09-25T21:03:44Z
            href: Velit eius blanditiis voluptatibus dolores earum.
            id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
            last_value: 1982-06-26T22:59:33Z
            max_value: 0.5534251248332908
            min_value: 0.06514205558620917
            name: Vero doloribus odit rerum amet culpa.
            permission: Nihil ut assumenda sed fugit.
            persist: true
            sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
            tag: 0.9331269810984383
            thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
            thing_name: Et accusantium ipsum rerum.
            type: Debitis nesciunt id vitae dolore aut beatae.
            update_parameter: 0.763900217608657
            update_strategy: Minus corrupti.
            updated_at: 1972-02-10T01:36:21Z
            value_updated_at: 1974-08-31T18:07:44Z
            variable_name: Voluptatem porro quaerat veniam.
          properties_count: 11222136127766996
          sketch_id: bb0ce2b9-eb84-4993-bbed-1bf0ea5efa43
          updated_at: 1998-11-29T08:52:29Z
          user_id: 765ee3ac-bea0-4122-a4b3-d2ec53bb18d8
          webhook_active: false
          webhook_uri: Facilis doloremque dicta.
        type: Maxime est voluptas velit.
        user_id: 976a8f0f-b459-4122-aa31-c970000fa88b
        webhooks:
        - active: false
          id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
          uri: http://boyer.net/heidi_jacobson
        - active: false
          id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
          uri: http://boyer.net/heidi_jacobson
        - active: false
          id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
          uri: http://boyer.net/heidi_jacobson
        wifi_fw_version: Exercitationem beatae facere.
      properties:
        created_at:
          description: Creation date of the device
          example: 1979-02-18T09:03:49Z
          format: date-time
          type: string
        events:
          description: ArduinoDevicev2SimplePropertiesCollection is the media type
            for an array of ArduinoDevicev2SimpleProperties (default view)
          example:
          - name: Earum ea non.
            updated_at: 1991-10-15T11:11:45Z
            value: false
          - name: Earum ea non.
            updated_at: 1991-10-15T11:11:45Z
            value: false
          items:
            $ref: '#/components/schemas/ArduinoDevicev2SimpleProperties'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
            type=collection; view=default'
          type: array
        fqbn:
          description: The fully qualified board name
          example: Ea ut magnam ipsa.
          type: string
        href:
          description: The api reference of this device
          example: Vel ipsam dolorem incidunt repellendus voluptatem.
          type: string
        id:
          description: The arn of the device
          example: ec5ae54b-3d46-4bf4-8c2c-6fdee5f83ec2
          format: uuid
          type: string
        label:
          description: The label of the device
          example: Omnis excepturi quo amet enim earum.
          type: string
        last_activity_at:
          description: Last activity date
          example: 2003-01-01T21:20:30Z
          format: date-time
          type: string
        latest_wifi_fw_version:
          description: The latest version of the NINA/WIFI101 firmware available for
            this device
          example: Quia corrupti voluptatem placeat velit.
          type: string
        metadata:
          additionalProperties: true
          description: The metadata of the device
          example:
            Nesciunt tempora.: false
          type: object
        name:
          description: The friendly name of the device
          example: Consequatur eum natus qui sit repellendus.
          type: string
        ota_available:
          description: True if the device type is ready to receive OTA updated
          example: true
          type: boolean
        ota_compatible:
          description: True if the device type is OTA compatible
          example: false
          type: boolean
        required_wifi_fw_version:
          description: The required version of the NINA/WIFI101 firmware needed by
            IoT Cloud
          example: In id nobis.
          type: string
        serial:
          description: The serial uuid of the device
          example: Veritatis maiores fugiat consequatur.
          type: string
        thing:
          $ref: '#/components/schemas/ArduinoThing'
        type:
          description: The type of the device
          example: Maxime est voluptas velit.
          type: string
        user_id:
          description: The id of the user
          example: 976a8f0f-b459-4122-aa31-c970000fa88b
          format: uuid
          type: string
        webhooks:
          description: ArduinoDevicev2WebhookCollection is the media type for an array
            of ArduinoDevicev2Webhook (default view)
          example:
          - active: false
            id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
            uri: http://boyer.net/heidi_jacobson
          - active: false
            id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
            uri: http://boyer.net/heidi_jacobson
          - active: false
            id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
            uri: http://boyer.net/heidi_jacobson
          items:
            $ref: '#/components/schemas/ArduinoDevicev2Webhook'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
            type=collection; view=default'
          type: array
        wifi_fw_version:
          description: The version of the NINA/WIFI101 firmware running on the device
          example: Exercitationem beatae facere.
          type: string
      required:
      - href
      - id
      - label
      - name
      - serial
      - type
      - user_id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2+json; view=default'
      type: object
    ArduinoDevicev2Cert:
      description: DeviceCertV2 describes a certificate associated to the device (default
        view)
      example:
        ca: Et provident excepturi aperiam quae vero sit.
        compressed:
          authority_key_identifier: Qui ipsam soluta.
          not_after: 2013-10-21T15:12:54Z
          not_before: 2014-07-13T19:52:25Z
          serial: Sapiente numquam rerum reiciendis nesciunt amet libero.
          signature: Vitae ratione similique voluptatem tenetur.
          signature_asn1_x: Voluptatem aut aut architecto expedita consequatur.
          signature_asn1_y: Qui atque.
        der: Perferendis quo consectetur natus amet est reiciendis.
        device_id: 43728a15-9628-4b24-aed7-0f9aeb50b292
        enabled: true
        href: Eos nobis illo error.
        id: 24f9dac7-24f8-4674-9b10-28a9acb89e09
        pem: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
          \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
          \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
          \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
          \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
          \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
          \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
      properties:
        ca:
          description: The Certification Authority used to sign the certificate
          example: Et provident excepturi aperiam quae vero sit.
          type: string
        compressed:
          $ref: '#/components/schemas/ArduinoCompressedv2'
        der:
          description: The certificate in DER format
          example: Perferendis quo consectetur natus amet est reiciendis.
          type: string
        device_id:
          description: The unique identifier of the device
          example: 43728a15-9628-4b24-aed7-0f9aeb50b292
          format: uuid
          type: string
        enabled:
          default: true
          description: Whether the certificate is enabled
          example: true
          type: boolean
        href:
          description: The api reference of this cert
          example: Eos nobis illo error.
          type: string
        id:
          description: The unique identifier of the key
          example: 24f9dac7-24f8-4674-9b10-28a9acb89e09
          format: uuid
          type: string
        pem:
          description: The certificate in pem format
          example: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
            \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
            \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
            \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
            \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
            \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
            \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
          maxLength: 512
          type: string
      required:
      - compressed
      - der
      - device_id
      - enabled
      - href
      - id
      - pem
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.cert+json; view=default'
      type: object
    ArduinoDevicev2CertCollection:
      description: ArduinoDevicev2CertCollection is the media type for an array of
        ArduinoDevicev2Cert (default view)
      example:
      - ca: Et provident excepturi aperiam quae vero sit.
        compressed:
          authority_key_identifier: Qui ipsam soluta.
          not_after: 2013-10-21T15:12:54Z
          not_before: 2014-07-13T19:52:25Z
          serial: Sapiente numquam rerum reiciendis nesciunt amet libero.
          signature: Vitae ratione similique voluptatem tenetur.
          signature_asn1_x: Voluptatem aut aut architecto expedita consequatur.
          signature_asn1_y: Qui atque.
        der: Perferendis quo consectetur natus amet est reiciendis.
        device_id: 43728a15-9628-4b24-aed7-0f9aeb50b292
        enabled: true
        href: Eos nobis illo error.
        id: 24f9dac7-24f8-4674-9b10-28a9acb89e09
        pem: "-----BEGIN CERTIFICATE-----\n\t\t\tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAryQICCl6NZ5gDKrnSztO\n\
          \t\t\t3Hy8PEUcuyvg/ikC+VcIo2SFFSf18a3IMYldIugqqqZCs4/4uVW3sbdLs/6PfgdX\n\
          \t\t\t7O9D22ZiFWHPYA2k2N744MNiCD1UE+tJyllUhSblK48bn+v1oZHCM0nYQ2NqUkvS\n\
          \t\t\tj+hwUU3RiWl7x3D2s9wSdNt7XUtW05a/FXehsPSiJfKvHJJnGOX0BgTvkLnkAOTd\n\
          \t\t\tOrUZ/wK69Dzu4IvrN4vs9Nes8vbwPa/ddZEzGR0cQMt0JBkhk9kU/qwqUseP1QRJ\n\
          \t\t\t5I1jR4g8aYPL/ke9K35PxZWuDp3U0UPAZ3PjFAh+5T+fc7gzCs9dPzSHloruU+gl\n\
          \t\t\tFQIDAQAB\n\t\t\t-----END CERTIFICATE-----"
      items:
        $ref: '#/components/schemas/ArduinoDevicev2Cert'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.cert+json; type=collection;
        view=default'
      type: array
    ArduinoDevicev2Collection:
      description: ArduinoDevicev2Collection is the media type for an array of ArduinoDevicev2
        (default view)
      example:
      - created_at: 1979-02-18T09:03:49Z
        events:
        - name: Earum ea non.
          updated_at: 1991-10-15T11:11:45Z
          value: false
        fqbn: Ea ut magnam ipsa.
        href: Vel ipsam dolorem incidunt repellendus voluptatem.
        id: ec5ae54b-3d46-4bf4-8c2c-6fdee5f83ec2
        label: Omnis excepturi quo amet enim earum.
        last_activity_at: 2003-01-01T21:20:30Z
        latest_wifi_fw_version: Quia corrupti voluptatem placeat velit.
        metadata:
          Nesciunt tempora.: false
        name: Consequatur eum natus qui sit repellendus.
        ota_available: true
        ota_compatible: false
        required_wifi_fw_version: In id nobis.
        serial: Veritatis maiores fugiat consequatur.
        thing:
          created_at: 1987-03-16T08:14:01Z
          deleted_at: 2014-09-27T22:43:00Z
          device_id: 65e23e7a-3ef6-4e33-b139-531732f5746d
          href: Corrupti ex qui ut.
          id: 5ee4d085-5daf-498b-92b9-e3a5946b1ef3
          name: Voluptatem molestias.
          properties:
          - created_at: 1979-04-16T17:41:57Z
            deleted_at: 2000-09-25T21:03:44Z
            href: Velit eius blanditiis voluptatibus dolores earum.
            id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
            last_value: 1982-06-26T22:59:33Z
            max_value: 0.5534251248332908
            min_value: 0.06514205558620917
            name: Vero doloribus odit rerum amet culpa.
            permission: Nihil ut assumenda sed fugit.
            persist: true
            sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
            tag: 0.9331269810984383
            thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
            thing_name: Et accusantium ipsum rerum.
            type: Debitis nesciunt id vitae dolore aut beatae.
            update_parameter: 0.763900217608657
            update_strategy: Minus corrupti.
            updated_at: 1972-02-10T01:36:21Z
            value_updated_at: 1974-08-31T18:07:44Z
            variable_name: Voluptatem porro quaerat veniam.
          properties_count: 11222136127766996
          sketch_id: bb0ce2b9-eb84-4993-bbed-1bf0ea5efa43
          updated_at: 1998-11-29T08:52:29Z
          user_id: 765ee3ac-bea0-4122-a4b3-d2ec53bb18d8
          webhook_active: false
          webhook_uri: Facilis doloremque dicta.
        type: Maxime est voluptas velit.
        user_id: 976a8f0f-b459-4122-aa31-c970000fa88b
        webhooks:
        - active: false
          id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
          uri: http://boyer.net/heidi_jacobson
        - active: false
          id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
          uri: http://boyer.net/heidi_jacobson
        - active: false
          id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
          uri: http://boyer.net/heidi_jacobson
        wifi_fw_version: Exercitationem beatae facere.
      items:
        $ref: '#/components/schemas/ArduinoDevicev2'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2+json; type=collection;
        view=default'
      type: array
    ArduinoDevicev2EventProperties:
      description: ArduinoDevicev2EventProperties media type (default view)
      example:
        events:
        - name: Earum ea non.
          updated_at: 1991-10-15T11:11:45Z
          value: false
        id: d32194cd-aa3f-4303-956f-da796dd85cbd
      properties:
        events:
          description: ArduinoDevicev2SimplePropertiesCollection is the media type
            for an array of ArduinoDevicev2SimpleProperties (default view)
          example:
          - name: Earum ea non.
            updated_at: 1991-10-15T11:11:45Z
            value: false
          - name: Earum ea non.
            updated_at: 1991-10-15T11:11:45Z
            value: false
          items:
            $ref: '#/components/schemas/ArduinoDevicev2SimpleProperties'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
            type=collection; view=default'
          type: array
        id:
          description: The device of the property
          example: d32194cd-aa3f-4303-956f-da796dd85cbd
          format: uuid
          type: string
      required:
      - events
      - id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.event.properties+json;
        view=default'
      type: object
    ArduinoDevicev2Pass:
      description: DeviceCertV2 describes a password associated to a device (default
        view)
      example:
        set: true
        suggested_password: Quod porro voluptates iusto commodi.
      properties:
        set:
          description: Whether the password is set or not
          example: true
          type: boolean
        suggested_password:
          description: A random suggested password
          example: Quod porro voluptates iusto commodi.
          type: string
      required:
      - set
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.pass+json; view=default'
      type: object
    ArduinoDevicev2SimpleProperties:
      description: ArduinoDevicev2SimpleProperties media type (default view)
      example:
        name: Earum ea non.
        updated_at: 1991-10-15T11:11:45Z
        value: false
      properties:
        name:
          description: The name of the property
          example: Earum ea non.
          type: string
        updated_at:
          description: Update date of the property
          example: 1991-10-15T11:11:45Z
          format: date-time
          type: string
        value:
          description: Value of the property
          example: false
      required:
      - name
      - updated_at
      - value
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
        view=default'
      type: object
    ArduinoDevicev2SimplePropertiesCollection:
      description: ArduinoDevicev2SimplePropertiesCollection is the media type for
        an array of ArduinoDevicev2SimpleProperties (default view)
      example:
      - name: Earum ea non.
        updated_at: 1991-10-15T11:11:45Z
        value: false
      - name: Earum ea non.
        updated_at: 1991-10-15T11:11:45Z
        value: false
      items:
        $ref: '#/components/schemas/ArduinoDevicev2SimpleProperties'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.simple.properties+json;
        type=collection; view=default'
      type: array
    ArduinoDevicev2Webhook:
      description: DeviceWebhookV2 describes a webhook associated to the device (default
        view)
      example:
        active: false
        id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
        uri: http://boyer.net/heidi_jacobson
      properties:
        active:
          default: true
          description: Whether the webhook is active
          example: false
          type: boolean
        id:
          description: The uuid of the webhook
          example: a003eb93-6605-49fa-a2a5-1c907dff6fc1
          format: uuid
          type: string
        uri:
          description: The uri of the webhook
          example: http://boyer.net/heidi_jacobson
          format: uri
          type: string
      required:
      - id
      - uri
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
        view=default'
      type: object
    ArduinoDevicev2WebhookCollection:
      description: ArduinoDevicev2WebhookCollection is the media type for an array
        of ArduinoDevicev2Webhook (default view)
      example:
      - active: false
        id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
        uri: http://boyer.net/heidi_jacobson
      - active: false
        id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
        uri: http://boyer.net/heidi_jacobson
      - active: false
        id: a003eb93-6605-49fa-a2a5-1c907dff6fc1
        uri: http://boyer.net/heidi_jacobson
      items:
        $ref: '#/components/schemas/ArduinoDevicev2Webhook'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
        type=collection; view=default'
      type: array
    ArduinoDevicev2properties:
      description: ArduinoDevicev2properties media type (default view)
      example:
        data_retention_days: 0.2151036904241639
        deviceId: 76efb7f7-af85-4154-9816-911c3d78eff9
        properties:
        - created_at: 1979-04-16T17:41:57Z
          deleted_at: 2000-09-25T21:03:44Z
          href: Velit eius blanditiis voluptatibus dolores earum.
          id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
          last_value: 1982-06-26T22:59:33Z
          max_value: 0.5534251248332908
          min_value: 0.06514205558620917
          name: Vero doloribus odit rerum amet culpa.
          permission: Nihil ut assumenda sed fugit.
          persist: true
          sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
          tag: 0.9331269810984383
          thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
          thing_name: Et accusantium ipsum rerum.
          type: Debitis nesciunt id vitae dolore aut beatae.
          update_parameter: 0.763900217608657
          update_strategy: Minus corrupti.
          updated_at: 1972-02-10T01:36:21Z
          value_updated_at: 1974-08-31T18:07:44Z
          variable_name: Voluptatem porro quaerat veniam.
        - created_at: 1979-04-16T17:41:57Z
          deleted_at: 2000-09-25T21:03:44Z
          href: Velit eius blanditiis voluptatibus dolores earum.
          id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
          last_value: 1982-06-26T22:59:33Z
          max_value: 0.5534251248332908
          min_value: 0.06514205558620917
          name: Vero doloribus odit rerum amet culpa.
          permission: Nihil ut assumenda sed fugit.
          persist: true
          sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
          tag: 0.9331269810984383
          thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
          thing_name: Et accusantium ipsum rerum.
          type: Debitis nesciunt id vitae dolore aut beatae.
          update_parameter: 0.763900217608657
          update_strategy: Minus corrupti.
          updated_at: 1972-02-10T01:36:21Z
          value_updated_at: 1974-08-31T18:07:44Z
          variable_name: Voluptatem porro quaerat veniam.
        user_id: f9229c62-4660-49bf-938e-a3ff890195c7
      properties:
        data_retention_days:
          description: How many days the data will be kept
          example: 0.2151036904241639
          format: double
          type: number
        deviceId:
          description: The device of the property
          example: 76efb7f7-af85-4154-9816-911c3d78eff9
          format: uuid
          type: string
        properties:
          description: ArduinoPropertyCollection is the media type for an array of
            ArduinoProperty (default view)
          example:
          - created_at: 1979-04-16T17:41:57Z
            deleted_at: 2000-09-25T21:03:44Z
            href: Velit eius blanditiis voluptatibus dolores earum.
            id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
            last_value: 1982-06-26T22:59:33Z
            max_value: 0.5534251248332908
            min_value: 0.06514205558620917
            name: Vero doloribus odit rerum amet culpa.
            permission: Nihil ut assumenda sed fugit.
            persist: true
            sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
            tag: 0.9331269810984383
            thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
            thing_name: Et accusantium ipsum rerum.
            type: Debitis nesciunt id vitae dolore aut beatae.
            update_parameter: 0.763900217608657
            update_strategy: Minus corrupti.
            updated_at: 1972-02-10T01:36:21Z
            value_updated_at: 1974-08-31T18:07:44Z
            variable_name: Voluptatem porro quaerat veniam.
          - created_at: 1979-04-16T17:41:57Z
            deleted_at: 2000-09-25T21:03:44Z
            href: Velit eius blanditiis voluptatibus dolores earum.
            id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
            last_value: 1982-06-26T22:59:33Z
            max_value: 0.5534251248332908
            min_value: 0.06514205558620917
            name: Vero doloribus odit rerum amet culpa.
            permission: Nihil ut assumenda sed fugit.
            persist: true
            sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
            tag: 0.9331269810984383
            thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
            thing_name: Et accusantium ipsum rerum.
            type: Debitis nesciunt id vitae dolore aut beatae.
            update_parameter: 0.763900217608657
            update_strategy: Minus corrupti.
            updated_at: 1972-02-10T01:36:21Z
            value_updated_at: 1974-08-31T18:07:44Z
            variable_name: Voluptatem porro quaerat veniam.
          items:
            $ref: '#/components/schemas/ArduinoProperty'
          title: 'Mediatype identifier: application/vnd.arduino.property+json; type=collection;
            view=default'
          type: array
        user_id:
          description: The user id of the owner
          example: f9229c62-4660-49bf-938e-a3ff890195c7
          format: uuid
          type: string
      required:
      - data_retention_days
      - deviceId
      - properties
      - user_id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2properties+json;
        view=default'
      type: object
    ArduinoDevicev2propertyvalue:
      description: ArduinoDevicev2propertyvalue media type (default view)
      example:
        created_at: 2016-01-21T05:43:47Z
        value:
          payload: Odit est sit reiciendis omnis qui impedit.
          seqno: 2043482281389942000
          statistics:
            adr: 0.8404055383069284
            channel: 0.5852200119482446
            duplicate: 0.692819815668843
            freq: 0.8937709025698461
            modBW: 0.9632773822946404
            rssi: 0.3490416673477758
            seqno: 0.13540754077814082
            sf: 0.7846878729911095
            snr: 0.09965769443842935
            time: 0.05524280287144853
      properties:
        created_at:
          example: 2016-01-21T05:43:47Z
          format: date-time
          type: string
        value:
          $ref: '#/components/schemas/ArduinoDevicev2propertyvalue_value'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
        view=default'
      type: object
    ArduinoDevicev2propertyvalueCollection:
      description: ArduinoDevicev2propertyvalueCollection is the media type for an
        array of ArduinoDevicev2propertyvalue (default view)
      example:
      - created_at: 2016-01-21T05:43:47Z
        value:
          payload: Odit est sit reiciendis omnis qui impedit.
          seqno: 2043482281389942000
          statistics:
            adr: 0.8404055383069284
            channel: 0.5852200119482446
            duplicate: 0.692819815668843
            freq: 0.8937709025698461
            modBW: 0.9632773822946404
            rssi: 0.3490416673477758
            seqno: 0.13540754077814082
            sf: 0.7846878729911095
            snr: 0.09965769443842935
            time: 0.05524280287144853
      - created_at: 2016-01-21T05:43:47Z
        value:
          payload: Odit est sit reiciendis omnis qui impedit.
          seqno: 2043482281389942000
          statistics:
            adr: 0.8404055383069284
            channel: 0.5852200119482446
            duplicate: 0.692819815668843
            freq: 0.8937709025698461
            modBW: 0.9632773822946404
            rssi: 0.3490416673477758
            seqno: 0.13540754077814082
            sf: 0.7846878729911095
            snr: 0.09965769443842935
            time: 0.05524280287144853
      - created_at: 2016-01-21T05:43:47Z
        value:
          payload: Odit est sit reiciendis omnis qui impedit.
          seqno: 2043482281389942000
          statistics:
            adr: 0.8404055383069284
            channel: 0.5852200119482446
            duplicate: 0.692819815668843
            freq: 0.8937709025698461
            modBW: 0.9632773822946404
            rssi: 0.3490416673477758
            seqno: 0.13540754077814082
            sf: 0.7846878729911095
            snr: 0.09965769443842935
            time: 0.05524280287144853
      items:
        $ref: '#/components/schemas/ArduinoDevicev2propertyvalue'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
        type=collection; view=default'
      type: array
    ArduinoDevicev2propertyvalues:
      description: ArduinoDevicev2propertyvalues media type (default view)
      example:
        id: Incidunt libero maxime molestiae.
        last_evaluated_key:
          created_at: 1997-12-08T04:37:50Z
          id: Adipisci sed rerum facilis quasi nostrum excepturi.
          name: Iusto voluptas minus.
        name: Voluptatem ex tempore.
        values:
        - created_at: 2016-01-21T05:43:47Z
          value:
            payload: Odit est sit reiciendis omnis qui impedit.
            seqno: 2043482281389942000
            statistics:
              adr: 0.8404055383069284
              channel: 0.5852200119482446
              duplicate: 0.692819815668843
              freq: 0.8937709025698461
              modBW: 0.9632773822946404
              rssi: 0.3490416673477758
              seqno: 0.13540754077814082
              sf: 0.7846878729911095
              snr: 0.09965769443842935
              time: 0.05524280287144853
        - created_at: 2016-01-21T05:43:47Z
          value:
            payload: Odit est sit reiciendis omnis qui impedit.
            seqno: 2043482281389942000
            statistics:
              adr: 0.8404055383069284
              channel: 0.5852200119482446
              duplicate: 0.692819815668843
              freq: 0.8937709025698461
              modBW: 0.9632773822946404
              rssi: 0.3490416673477758
              seqno: 0.13540754077814082
              sf: 0.7846878729911095
              snr: 0.09965769443842935
              time: 0.05524280287144853
        - created_at: 2016-01-21T05:43:47Z
          value:
            payload: Odit est sit reiciendis omnis qui impedit.
            seqno: 2043482281389942000
            statistics:
              adr: 0.8404055383069284
              channel: 0.5852200119482446
              duplicate: 0.692819815668843
              freq: 0.8937709025698461
              modBW: 0.9632773822946404
              rssi: 0.3490416673477758
              seqno: 0.13540754077814082
              sf: 0.7846878729911095
              snr: 0.09965769443842935
              time: 0.05524280287144853
      properties:
        id:
          example: Incidunt libero maxime molestiae.
          type: string
        last_evaluated_key:
          $ref: '#/components/schemas/ArduinoDevicev2propertyvalues_last_evaluated_key'
        name:
          example: Voluptatem ex tempore.
          type: string
        values:
          description: ArduinoDevicev2propertyvalueCollection is the media type for
            an array of ArduinoDevicev2propertyvalue (default view)
          example:
          - created_at: 2016-01-21T05:43:47Z
            value:
              payload: Odit est sit reiciendis omnis qui impedit.
              seqno: 2043482281389942000
              statistics:
                adr: 0.8404055383069284
                channel: 0.5852200119482446
                duplicate: 0.692819815668843
                freq: 0.8937709025698461
                modBW: 0.9632773822946404
                rssi: 0.3490416673477758
                seqno: 0.13540754077814082
                sf: 0.7846878729911095
                snr: 0.09965769443842935
                time: 0.05524280287144853
          - created_at: 2016-01-21T05:43:47Z
            value:
              payload: Odit est sit reiciendis omnis qui impedit.
              seqno: 2043482281389942000
              statistics:
                adr: 0.8404055383069284
                channel: 0.5852200119482446
                duplicate: 0.692819815668843
                freq: 0.8937709025698461
                modBW: 0.9632773822946404
                rssi: 0.3490416673477758
                seqno: 0.13540754077814082
                sf: 0.7846878729911095
                snr: 0.09965769443842935
                time: 0.05524280287144853
          - created_at: 2016-01-21T05:43:47Z
            value:
              payload: Odit est sit reiciendis omnis qui impedit.
              seqno: 2043482281389942000
              statistics:
                adr: 0.8404055383069284
                channel: 0.5852200119482446
                duplicate: 0.692819815668843
                freq: 0.8937709025698461
                modBW: 0.9632773822946404
                rssi: 0.3490416673477758
                seqno: 0.13540754077814082
                sf: 0.7846878729911095
                snr: 0.09965769443842935
                time: 0.05524280287144853
          items:
            $ref: '#/components/schemas/ArduinoDevicev2propertyvalue'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
            type=collection; view=default'
          type: array
      required:
      - id
      - last_evaluated_key
      - name
      - values
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalues+json;
        view=default'
      type: object
    ArduinoProperty:
      description: ArduinoProperty media type (default view)
      example:
        created_at: 1979-04-16T17:41:57Z
        deleted_at: 2000-09-25T21:03:44Z
        href: Velit eius blanditiis voluptatibus dolores earum.
        id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
        last_value: 1982-06-26T22:59:33Z
        max_value: 0.5534251248332908
        min_value: 0.06514205558620917
        name: Vero doloribus odit rerum amet culpa.
        permission: Nihil ut assumenda sed fugit.
        persist: true
        sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
        tag: 0.9331269810984383
        thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
        thing_name: Et accusantium ipsum rerum.
        type: Debitis nesciunt id vitae dolore aut beatae.
        update_parameter: 0.763900217608657
        update_strategy: Minus corrupti.
        updated_at: 1972-02-10T01:36:21Z
        value_updated_at: 1974-08-31T18:07:44Z
        variable_name: Voluptatem porro quaerat veniam.
      properties:
        created_at:
          description: Creation date of the property
          example: 1979-04-16T17:41:57Z
          format: date-time
          type: string
        deleted_at:
          description: Delete date of the property
          example: 2000-09-25T21:03:44Z
          format: date-time
          type: string
        href:
          description: The api reference of this property
          example: Velit eius blanditiis voluptatibus dolores earum.
          type: string
        id:
          description: The id of the property
          example: 555f5af8-915c-4b67-bc2c-6a1e929befbb
          format: uuid
          type: string
        last_value:
          description: Last value of this property
          example: 1982-06-26T22:59:33Z
        max_value:
          description: Maximum value of this property
          example: 0.5534251248332908
          format: double
          type: number
        min_value:
          description: Minimum value of this property
          example: 0.06514205558620917
          format: double
          type: number
        name:
          description: The friendly name of the property
          example: Vero doloribus odit rerum amet culpa.
          type: string
        permission:
          description: The permission of the property
          example: Nihil ut assumenda sed fugit.
          type: string
        persist:
          description: If true, data will persist into a timeseries database
          example: true
          type: boolean
        sync_id:
          description: The id of the sync pool
          example: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
          format: uuid
          type: string
        tag:
          description: The integer id of the property
          example: 0.9331269810984383
          format: double
          type: number
        thing_id:
          description: The id of the thing
          example: e31060d0-16f6-4a72-ab0d-aca3636ca787
          format: uuid
          type: string
        thing_name:
          description: The name of the associated thing
          example: Et accusantium ipsum rerum.
          type: string
        type:
          description: The type of the property
          example: Debitis nesciunt id vitae dolore aut beatae.
          type: string
        update_parameter:
          description: The update frequency in seconds, or the amount of the property
            has to change in order to trigger an update
          example: 0.763900217608657
          format: double
          type: number
        update_strategy:
          description: The update strategy for the property value
          example: Minus corrupti.
          type: string
        updated_at:
          description: Update date of the property
          example: 1972-02-10T01:36:21Z
          format: date-time
          type: string
        value_updated_at:
          description: Last update timestamp of this property
          example: 1974-08-31T18:07:44Z
          format: date-time
          type: string
        variable_name:
          description: The sketch variable name of the property
          example: Voluptatem porro quaerat veniam.
          type: string
      required:
      - href
      - id
      - name
      - permission
      - thing_id
      - type
      - update_strategy
      title: 'Mediatype identifier: application/vnd.arduino.property+json; view=default'
      type: object
    ArduinoPropertyCollection:
      description: ArduinoPropertyCollection is the media type for an array of ArduinoProperty
        (default view)
      example:
      - created_at: 1979-04-16T17:41:57Z
        deleted_at: 2000-09-25T21:03:44Z
        href: Velit eius blanditiis voluptatibus dolores earum.
        id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
        last_value: 1982-06-26T22:59:33Z
        max_value: 0.5534251248332908
        min_value: 0.06514205558620917
        name: Vero doloribus odit rerum amet culpa.
        permission: Nihil ut assumenda sed fugit.
        persist: true
        sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
        tag: 0.9331269810984383
        thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
        thing_name: Et accusantium ipsum rerum.
        type: Debitis nesciunt id vitae dolore aut beatae.
        update_parameter: 0.763900217608657
        update_strategy: Minus corrupti.
        updated_at: 1972-02-10T01:36:21Z
        value_updated_at: 1974-08-31T18:07:44Z
        variable_name: Voluptatem porro quaerat veniam.
      - created_at: 1979-04-16T17:41:57Z
        deleted_at: 2000-09-25T21:03:44Z
        href: Velit eius blanditiis voluptatibus dolores earum.
        id: 555f5af8-915c-4b67-bc2c-6a1e929befbb
        last_value: 1982-06-26T22:59:33Z
        max_value: 0.5534251248332908
        min_value: 0.06514205558620917
        name: Vero doloribus odit rerum amet culpa.
        permission: Nihil ut assumenda sed fugit.
        persist: true
        sync_id: cfeb9745-51c4-40a6-83bd-ae1cd9fdf5c1
        tag: 0.9331269810984383
        thing_id: e31060d0-16f6-4a72-ab0d-aca3636ca787
        thing_name: Et accusantium ipsum rerum.
        type: Debitis nesciunt id vitae dolore aut beatae.
        update_parameter: 0.763900217608657
        update_strategy: Minus corrupti.
        updated_at: 1972-02-10T01:36:21Z
        value_updated_at: 1974-08-31T18:07:44Z
        variable_name: Voluptatem porro quaerat veniam.
      items:
[...]
