openapi: 3.0.0
info:
  contact: {}
  description: Collection of all public API endpoints.
  title: Iot API
  version: "2.0"
servers:
- url: http://api2.arduino.cc/iot
paths:
  /v2/devices:
    get:
      description: Returns the list of devices associated to the user
      operationId: devices_v2#list
      parameters:
      - description: If true, returns all the devices
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        200:
          content:
            application/vnd.arduino.devicev2+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2Collection'
          description: OK
      security:
      - oauth2: []
      summary: list devices_v2
      tags:
      - devices_v2
    put:
      description: Creates a new device associated to the user.
      operationId: devices_v2#create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDevicesV2Payload'
        description: DeviceV2 describes a device.
        required: true
      responses:
        201:
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: Created
        412:
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
      security:
      - oauth2: []
      summary: create devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}:
    delete:
      description: Removes a device associated to the user
      operationId: devices_v2#delete
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          description: OK
      security:
      - oauth2: []
      summary: delete devices_v2
      tags:
      - devices_v2
    get:
      description: Returns the device requested by the user
      operationId: devices_v2#show
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
      security:
      - oauth2: []
      summary: show devices_v2
      tags:
      - devices_v2
    post:
      description: Updates a device associated to the user
      operationId: devices_v2#update
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devicev2'
        description: DeviceV2 describes a device.
        required: true
      responses:
        200:
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2'
          description: OK
        400:
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        412:
          content:
            application/vnd.arduino.devicev2+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
      security:
      - oauth2: []
      summary: update devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/properties:
    get:
      description: GET device properties
      operationId: devices_v2#getProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        200:
          content:
            application/vnd.arduino.devicev2properties+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2properties'
          description: OK
        401:
          description: Unauthorized
      security:
      - oauth2: []
      summary: getProperties devices_v2
      tags:
      - devices_v2
    put:
      description: Update device properties last values
      operationId: devices_v2#updateProperties
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertiesValues'
        required: true
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
      security:
      - oauth2: []
      summary: updateProperties devices_v2
      tags:
      - devices_v2
  /v2/devices/{id}/properties/{pid}:
    get:
      description: GET device properties values in a range of time
      operationId: devices_v2#timeseries
      parameters:
      - description: The id of the device
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of properties to select
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: The time at which to start selecting properties
        explode: true
        in: query
        name: start
        required: false
        schema:
          type: string
        style: form
      responses:
        200:
          content:
            application/vnd.arduino.devicev2propertyvalues+json:
              schema:
                $ref: '#/components/schemas/ArduinoDevicev2propertyvalues'
          description: OK
        401:
          description: Unauthorized
      security:
      - oauth2: []
      summary: timeseries devices_v2
      tags:
      - devices_v2
  /v2/series/batch_query:
    post:
      description: Returns the batch of time-series data
      operationId: series_v2#batch_query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRequestsMediaV1'
        required: true
      responses:
        200:
          content:
            application/vnd.arduino.series.batch+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatch'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesBatch'
          description: OK
        401:
          content:
            application/vnd.arduino.series.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          description: Not Found
        501:
          description: Not Implemented
        503:
          content:
            application/vnd.arduino.series.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchQueryRawRequestsMediaV1'
        required: true
      responses:
        200:
          content:
            application/vnd.arduino.series.raw.batch+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatch'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatch'
          description: OK
        401:
          content:
            application/vnd.arduino.series.raw.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          description: Not Found
        501:
          description: Not Implemented
        503:
          content:
            application/vnd.arduino.series.raw.batch+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw series_v2
      tags:
      - series_v2
  /v2/series/batch_query_raw/lastvalue:
    post:
      description: Returns the batch of time-series data raw
      operationId: series_v2#batch_query_raw_last_value
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchLastValueRequestsMediaV1'
        required: true
      responses:
        200:
          content:
            application/vnd.arduino.series.raw.batch.lastvalue+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatchLastvalue'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoSeriesRawBatchLastvalue'
          description: OK
        401:
          content:
            application/vnd.arduino.series.raw.batch.lastvalue+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          description: Not Found
        501:
          description: Not Implemented
        503:
          content:
            application/vnd.arduino.series.raw.batch.lastvalue+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
      security:
      - oauth2: []
      summary: batch_query_raw_last_value series_v2
      tags:
      - series_v2
  /v2/things:
    get:
      description: Returns the list of things associated to the user
      operationId: things_v2#list
      parameters:
      - description: If true, returns all the things
        explode: true
        in: query
        name: across_user_ids
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the device you want to filter
        explode: true
        in: query
        name: device_id
        required: false
        schema:
          type: string
        style: form
      - description: If true, shows the soft deleted things
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        200:
          content:
            application/vnd.arduino.thing+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoThingCollection'
          description: OK
        401:
          description: Unauthorized
      security:
      - oauth2: []
      summary: list things_v2
      tags:
      - things_v2
    put:
      description: Creates a new thing associated to the user
      operationId: things_v2#create
      parameters:
      - description: If true, detach device from the other thing, and attach to this
          thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateThingsV2Payload'
        description: ThingPayload describes a thing
        required: true
      responses:
        201:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: Created
        401:
          description: Unauthorized
        409:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        412:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
      security:
      - oauth2: []
      summary: create things_v2
      tags:
      - things_v2
  /v2/things/{id}:
    delete:
      description: Removes a thing associated to the user
      operationId: things_v2#delete
      parameters:
      - description: If true, hard delete the thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
      security:
      - oauth2: []
      summary: delete things_v2
      tags:
      - things_v2
    get:
      description: Returns the thing requested by the user
      operationId: things_v2#show
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted thing
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        200:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        401:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          description: Not Found
        500:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
      security:
      - oauth2: []
      summary: show things_v2
      tags:
      - things_v2
    post:
      description: Updates a thing associated to the user
      operationId: things_v2#update
      parameters:
      - description: If true, detach device from the other thing, and attach to this
          thing
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thing'
        description: ThingPayload describes a thing
        required: true
      responses:
        200:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        400:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        401:
          description: Unauthorized
        404:
          description: Not Found
        412:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
      security:
      - oauth2: []
      summary: update things_v2
      tags:
      - things_v2
  /v2/things/{id}/properties:
    get:
      description: Returns the list of properties associated to the thing
      operationId: properties_v2#list
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        200:
          content:
            application/vnd.arduino.property+json; type=collection:
              schema:
                $ref: '#/components/schemas/ArduinoPropertyCollection'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoPropertyCollection'
          description: OK
        401:
          content:
            application/vnd.arduino.property+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          content:
            application/vnd.arduino.property+json; type=collection:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
      security:
      - oauth2: []
      summary: list properties_v2
      tags:
      - properties_v2
    put:
      description: Creates a new property associated to a thing
      operationId: properties_v2#create
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/property'
      responses:
        201:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: Created
        400:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        401:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          description: Not Found
      security:
      - oauth2: []
      summary: create properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}:
    delete:
      description: Removes a property associated to a thing
      operationId: properties_v2#delete
      parameters:
      - description: If true, hard delete the property
        explode: true
        in: query
        name: force
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          description: OK
        401:
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          description: Not Found
      security:
      - oauth2: []
      summary: delete properties_v2
      tags:
      - properties_v2
    get:
      description: Returns the property requested by the user
      operationId: properties_v2#show
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - description: If true, shows the soft deleted properties
        explode: true
        in: query
        name: show_deleted
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        200:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: OK
        401:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
      security:
      - oauth2: []
      summary: show properties_v2
      tags:
      - properties_v2
    post:
      description: Updates a property associated to a thing
      operationId: properties_v2#update
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/property'
      responses:
        200:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoProperty'
          description: OK
        400:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        401:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          content:
            application/vnd.arduino.property+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
      security:
      - oauth2: []
      summary: update properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/properties/{pid}/publish:
    put:
      description: Publish a property value to MQTT
      operationId: properties_v2#publish
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the property
        explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/propertyValue'
        description: PropertyValuePayload describes a property value
        required: true
      responses:
        200:
          description: OK
        400:
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        401:
          content:
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
            text/plain:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        404:
          description: Not Found
      security:
      - oauth2: []
      summary: publish properties_v2
      tags:
      - properties_v2
  /v2/things/{id}/sketch:
    delete:
      operationId: things_v2#deleteSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        401:
          description: Unauthorized
        404:
          description: Not Found
      security:
      - oauth2: []
      summary: deleteSketch things_v2
      tags:
      - things_v2
    put:
      description: Creates a new sketch thing associated to the thing
      operationId: things_v2#createSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/thingSketch'
        description: ThingSketchPayload describes a sketch of a thing
        required: true
      responses:
        201:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: Created
        400:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        401:
          description: Unauthorized
        412:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
      security:
      - oauth2: []
      summary: createSketch things_v2
      tags:
      - things_v2
  /v2/things/{id}/sketch/{sketchId}:
    put:
      description: Update an existing thing sketch
      operationId: things_v2#updateSketch
      parameters:
      - description: The id of the thing
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the sketch
        explode: false
        in: path
        name: sketchId
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/ArduinoThing'
          description: OK
        401:
          description: Unauthorized
        412:
          content:
            application/vnd.arduino.thing+json:
              schema:
                $ref: '#/components/schemas/error'
            application/vnd.goa.error+json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
      security:
      - oauth2: []
      summary: updateSketch things_v2
      tags:
      - things_v2
components:
  callbacks: {}
  examples: {}
  headers: {}
  links: {}
  parameters: {}
  requestBodies:
    property:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/property'
      description: PropertyPayload describes a property of a thing. No field is mandatory
      required: true
  responses:
    NotFound:
      description: Not Found
    NotImplemented:
      description: Not Implemented
    OK:
      description: OK
    Unauthorized:
      description: Unauthorized
  schemas:
    ArduinoDevicev2:
      description: ArduinoDevicev2 media type (default view)
      example:
        created_at: 1994-09-07 13:31:11
        href: Nam soluta libero rem aut sed facere.
        id: b3001b29-0226-4d92-9fb0-dd0ce69dda7b
        metadata:
          Quo voluptatum omnis quae quia quidem velit.: false
        name: Voluptatibus fugiat ratione ut praesentium cumque autem.
        serial: Aperiam qui et cumque magnam dolorem.
        type: Voluptatem repellat et explicabo.
        user_id: b79ea5b2-930f-4d1b-9761-38f8e83a3ae6
        webhooks:
        - active: true
          id: 95bbb69f-0724-4664-848c-cc106b9880d1
          uri: http://beckereichmann.name/reina
        - active: true
          id: 95bbb69f-0724-4664-848c-cc106b9880d1
          uri: http://beckereichmann.name/reina
        - active: true
          id: 95bbb69f-0724-4664-848c-cc106b9880d1
          uri: http://beckereichmann.name/reina
      properties:
        created_at:
          description: Creation date of the device
          format: date-time
          type: string
        href:
          description: The api reference of this device
          example: Nam soluta libero rem aut sed facere.
          type: string
        id:
          description: The arn of the device
          example: b3001b29-0226-4d92-9fb0-dd0ce69dda7b
          format: uuid
          type: string
        metadata:
          additionalProperties: true
          description: The metadata of the device
          example:
            Quo voluptatum omnis quae quia quidem velit.: false
          type: object
        name:
          description: The friendly name of the device
          example: Voluptatibus fugiat ratione ut praesentium cumque autem.
          type: string
        serial:
          description: The serial uuid of the device
          example: Aperiam qui et cumque magnam dolorem.
          type: string
        type:
          description: The type of the device
          example: Voluptatem repellat et explicabo.
          type: string
        user_id:
          description: The id of the user
          example: b79ea5b2-930f-4d1b-9761-38f8e83a3ae6
          format: uuid
          type: string
        webhooks:
          description: ArduinoDevicev2WebhookCollection is the media type for an array
            of ArduinoDevicev2Webhook (default view)
          example:
          - active: true
            id: 95bbb69f-0724-4664-848c-cc106b9880d1
            uri: http://beckereichmann.name/reina
          items:
            $ref: '#/components/schemas/ArduinoDevicev2Webhook'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
            type=collection; view=default'
          type: array
      required:
      - href
      - id
      - name
      - serial
      - type
      - user_id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2+json; view=default'
      type: object
    ArduinoDevicev2Collection:
      description: ArduinoDevicev2Collection is the media type for an array of ArduinoDevicev2
        (default view)
      example:
      - created_at: 1994-09-07 13:31:11
        href: Nam soluta libero rem aut sed facere.
        id: b3001b29-0226-4d92-9fb0-dd0ce69dda7b
        metadata:
          Quo voluptatum omnis quae quia quidem velit.: false
        name: Voluptatibus fugiat ratione ut praesentium cumque autem.
        serial: Aperiam qui et cumque magnam dolorem.
        type: Voluptatem repellat et explicabo.
        user_id: b79ea5b2-930f-4d1b-9761-38f8e83a3ae6
        webhooks:
        - active: true
          id: 95bbb69f-0724-4664-848c-cc106b9880d1
          uri: http://beckereichmann.name/reina
        - active: true
          id: 95bbb69f-0724-4664-848c-cc106b9880d1
          uri: http://beckereichmann.name/reina
        - active: true
          id: 95bbb69f-0724-4664-848c-cc106b9880d1
          uri: http://beckereichmann.name/reina
      items:
        $ref: '#/components/schemas/ArduinoDevicev2'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2+json; type=collection;
        view=default'
      type: array
    ArduinoDevicev2Webhook:
      description: DeviceWebhookV2 describes a webhook associated to the device (default
        view)
      example:
        active: true
        id: 95bbb69f-0724-4664-848c-cc106b9880d1
        uri: http://beckereichmann.name/reina
      properties:
        active:
          default: true
          description: Whether the webhook is active
          example: true
          type: boolean
        id:
          description: The uuid of the webhook
          example: 95bbb69f-0724-4664-848c-cc106b9880d1
          format: uuid
          type: string
        uri:
          description: The uri of the webhook
          example: http://beckereichmann.name/reina
          format: uri
          type: string
      required:
      - id
      - uri
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
        view=default'
      type: object
    ArduinoDevicev2WebhookCollection:
      description: ArduinoDevicev2WebhookCollection is the media type for an array
        of ArduinoDevicev2Webhook (default view)
      example:
      - active: true
        id: 95bbb69f-0724-4664-848c-cc106b9880d1
        uri: http://beckereichmann.name/reina
      items:
        $ref: '#/components/schemas/ArduinoDevicev2Webhook'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2.webhook+json;
        type=collection; view=default'
      type: array
    ArduinoDevicev2properties:
      description: ArduinoDevicev2properties media type (default view)
      example:
        data_retention_days: 0.8510933658457186
        deviceId: 93af603b-726b-4b0a-9a12-77d1343f9218
        properties:
        - created_at: 1989-02-10 21:50:38
          deleted_at: 1986-10-07 08:22:10
          href: Molestiae veritatis maiores fugiat consequatur error vitae.
          id: f107703c-b170-47fa-a504-ece3412cc5be
          last_value: 7384484011810122000
          max_value: 0.934796755829885
          min_value: 0.22797089832637085
          name: Veritatis voluptatem molestias repudiandae quia non et.
          permission: Eius blanditiis voluptatibus.
          persist: true
          thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
          type: Sint quam provident magnam ex.
          update_parameter: 0.9108133227344599
          update_strategy: Odit rerum.
          updated_at: 1976-06-15 02:13:21
          value_updated_at: 1975-12-11 02:29:59
          variable_name: Nihil ut assumenda sed fugit.
        user_id: 982cfcfc-ed11-419c-876a-753c6629d12a
      properties:
        data_retention_days:
          description: How many days the data will be kept
          example: 0.8510933658457186
          format: double
          type: number
        deviceId:
          description: The device of the property
          example: 93af603b-726b-4b0a-9a12-77d1343f9218
          format: uuid
          type: string
        properties:
          description: ArduinoPropertyCollection is the media type for an array of
            ArduinoProperty (default view)
          example:
          - created_at: 1989-02-10 21:50:38
            deleted_at: 1986-10-07 08:22:10
            href: Molestiae veritatis maiores fugiat consequatur error vitae.
            id: f107703c-b170-47fa-a504-ece3412cc5be
            last_value: 7384484011810122000
            max_value: 0.934796755829885
            min_value: 0.22797089832637085
            name: Veritatis voluptatem molestias repudiandae quia non et.
            permission: Eius blanditiis voluptatibus.
            persist: true
            thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
            type: Sint quam provident magnam ex.
            update_parameter: 0.9108133227344599
            update_strategy: Odit rerum.
            updated_at: 1976-06-15 02:13:21
            value_updated_at: 1975-12-11 02:29:59
            variable_name: Nihil ut assumenda sed fugit.
          - created_at: 1989-02-10 21:50:38
            deleted_at: 1986-10-07 08:22:10
            href: Molestiae veritatis maiores fugiat consequatur error vitae.
            id: f107703c-b170-47fa-a504-ece3412cc5be
            last_value: 7384484011810122000
            max_value: 0.934796755829885
            min_value: 0.22797089832637085
            name: Veritatis voluptatem molestias repudiandae quia non et.
            permission: Eius blanditiis voluptatibus.
            persist: true
            thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
            type: Sint quam provident magnam ex.
            update_parameter: 0.9108133227344599
            update_strategy: Odit rerum.
            updated_at: 1976-06-15 02:13:21
            value_updated_at: 1975-12-11 02:29:59
            variable_name: Nihil ut assumenda sed fugit.
          - created_at: 1989-02-10 21:50:38
            deleted_at: 1986-10-07 08:22:10
            href: Molestiae veritatis maiores fugiat consequatur error vitae.
            id: f107703c-b170-47fa-a504-ece3412cc5be
            last_value: 7384484011810122000
            max_value: 0.934796755829885
            min_value: 0.22797089832637085
            name: Veritatis voluptatem molestias repudiandae quia non et.
            permission: Eius blanditiis voluptatibus.
            persist: true
            thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
            type: Sint quam provident magnam ex.
            update_parameter: 0.9108133227344599
            update_strategy: Odit rerum.
            updated_at: 1976-06-15 02:13:21
            value_updated_at: 1975-12-11 02:29:59
            variable_name: Nihil ut assumenda sed fugit.
          items:
            $ref: '#/components/schemas/ArduinoProperty'
          title: 'Mediatype identifier: application/vnd.arduino.property+json; type=collection;
            view=default'
          type: array
        user_id:
          description: The user id of the owner
          example: 982cfcfc-ed11-419c-876a-753c6629d12a
          format: uuid
          type: string
      required:
      - data_retention_days
      - deviceId
      - properties
      - user_id
      title: 'Mediatype identifier: application/vnd.arduino.devicev2properties+json;
        view=default'
      type: object
    ArduinoDevicev2propertyvalue:
      description: ArduinoDevicev2propertyvalue media type (default view)
      example:
        created_at: 1971-04-18 03:22:50
        value:
          payload: Blanditiis et accusantium ipsum rerum.
          seqno: 7418648063896745000
          statistics:
            adr: 0.13561737572509147
            channel: 0.3902353259273426
            duplicate: 0.5028846468947827
            freq: 0.7126670896862375
            modBW: 0.863865814062173
            rssi: 0.5253658020227948
            seqno: 0.13888126585007018
            sf: 0.763900217608657
            snr: 0.035072020695238175
            time: 0.8941566755879066
      properties:
        created_at:
          format: date-time
          type: string
        value:
          $ref: '#/components/schemas/ArduinoDevicev2propertyvalue_value'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
        view=default'
      type: object
    ArduinoDevicev2propertyvalueCollection:
      description: ArduinoDevicev2propertyvalueCollection is the media type for an
        array of ArduinoDevicev2propertyvalue (default view)
      example:
      - created_at: 1971-04-18 03:22:50
        value:
          payload: Blanditiis et accusantium ipsum rerum.
          seqno: 7418648063896745000
          statistics:
            adr: 0.13561737572509147
            channel: 0.3902353259273426
            duplicate: 0.5028846468947827
            freq: 0.7126670896862375
            modBW: 0.863865814062173
            rssi: 0.5253658020227948
            seqno: 0.13888126585007018
            sf: 0.763900217608657
            snr: 0.035072020695238175
            time: 0.8941566755879066
      items:
        $ref: '#/components/schemas/ArduinoDevicev2propertyvalue'
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
        type=collection; view=default'
      type: array
    ArduinoDevicev2propertyvalues:
      description: ArduinoDevicev2propertyvalues media type (default view)
      example:
        id: Fugiat aut.
        last_evaluated_key:
          created_at: 1996-04-21 09:56:14
          id: Quaerat veniam ea.
          name: Itaque sit facilis doloremque dicta magnam.
        name: Est voluptas velit debitis.
        values:
        - created_at: 1971-04-18 03:22:50
          value:
            payload: Blanditiis et accusantium ipsum rerum.
            seqno: 7418648063896745000
            statistics:
              adr: 0.13561737572509147
              channel: 0.3902353259273426
              duplicate: 0.5028846468947827
              freq: 0.7126670896862375
              modBW: 0.863865814062173
              rssi: 0.5253658020227948
              seqno: 0.13888126585007018
              sf: 0.763900217608657
              snr: 0.035072020695238175
              time: 0.8941566755879066
        - created_at: 1971-04-18 03:22:50
          value:
            payload: Blanditiis et accusantium ipsum rerum.
            seqno: 7418648063896745000
            statistics:
              adr: 0.13561737572509147
              channel: 0.3902353259273426
              duplicate: 0.5028846468947827
              freq: 0.7126670896862375
              modBW: 0.863865814062173
              rssi: 0.5253658020227948
              seqno: 0.13888126585007018
              sf: 0.763900217608657
              snr: 0.035072020695238175
              time: 0.8941566755879066
      properties:
        id:
          example: Fugiat aut.
          type: string
        last_evaluated_key:
          $ref: '#/components/schemas/ArduinoDevicev2propertyvalues_last_evaluated_key'
        name:
          example: Est voluptas velit debitis.
          type: string
        values:
          description: ArduinoDevicev2propertyvalueCollection is the media type for
            an array of ArduinoDevicev2propertyvalue (default view)
          example:
          - created_at: 1971-04-18 03:22:50
            value:
              payload: Blanditiis et accusantium ipsum rerum.
              seqno: 7418648063896745000
              statistics:
                adr: 0.13561737572509147
                channel: 0.3902353259273426
                duplicate: 0.5028846468947827
                freq: 0.7126670896862375
                modBW: 0.863865814062173
                rssi: 0.5253658020227948
                seqno: 0.13888126585007018
                sf: 0.763900217608657
                snr: 0.035072020695238175
                time: 0.8941566755879066
          items:
            $ref: '#/components/schemas/ArduinoDevicev2propertyvalue'
          title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalue+json;
            type=collection; view=default'
          type: array
      required:
      - id
      - last_evaluated_key
      - name
      - values
      title: 'Mediatype identifier: application/vnd.arduino.devicev2propertyvalues+json;
        view=default'
      type: object
    ArduinoProperty:
      description: ArduinoProperty media type (default view)
      example:
        created_at: 1989-02-10 21:50:38
        deleted_at: 1986-10-07 08:22:10
        href: Molestiae veritatis maiores fugiat consequatur error vitae.
        id: f107703c-b170-47fa-a504-ece3412cc5be
        last_value: 7384484011810122000
        max_value: 0.934796755829885
        min_value: 0.22797089832637085
        name: Veritatis voluptatem molestias repudiandae quia non et.
        permission: Eius blanditiis voluptatibus.
        persist: true
        thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
        type: Sint quam provident magnam ex.
        update_parameter: 0.9108133227344599
        update_strategy: Odit rerum.
        updated_at: 1976-06-15 02:13:21
        value_updated_at: 1975-12-11 02:29:59
        variable_name: Nihil ut assumenda sed fugit.
      properties:
        created_at:
          description: Creation date of the property
          format: date-time
          type: string
        deleted_at:
          description: Delete date of the property
          format: date-time
          type: string
        href:
          description: The api reference of this property
          example: Molestiae veritatis maiores fugiat consequatur error vitae.
          type: string
        id:
          description: The id of the property
          example: f107703c-b170-47fa-a504-ece3412cc5be
          format: uuid
          type: string
        last_value:
          description: Last value of this property
          example: 7384484011810122000
        max_value:
          description: Maximum value of this property
          example: 0.934796755829885
          format: double
          type: number
        min_value:
          description: Minimum value of this property
          example: 0.22797089832637085
          format: double
          type: number
        name:
          description: The friendly name of the property
          example: Veritatis voluptatem molestias repudiandae quia non et.
          type: string
        permission:
          description: The permission of the property
          example: Eius blanditiis voluptatibus.
          type: string
        persist:
          description: If true, data will persist into a timeseries database
          example: true
          type: boolean
        thing_id:
          description: The id of the thing
          example: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
          format: uuid
          type: string
        type:
          description: The type of the property
          example: Sint quam provident magnam ex.
          type: string
        update_parameter:
          description: The update frequency in seconds, or the amount of the property
            has to change in order to trigger an update
          example: 0.9108133227344599
          format: double
          type: number
        update_strategy:
          description: The update strategy for the property value
          example: Odit rerum.
          type: string
        updated_at:
          description: Update date of the property
          format: date-time
          type: string
        value_updated_at:
          description: Last update timestamp of this property
          format: date-time
          type: string
        variable_name:
          description: The sketch variable name of the property
          example: Nihil ut assumenda sed fugit.
          type: string
      required:
      - href
      - id
      - name
      - permission
      - thing_id
      - type
      - update_strategy
      title: 'Mediatype identifier: application/vnd.arduino.property+json; view=default'
      type: object
    ArduinoPropertyCollection:
      description: ArduinoPropertyCollection is the media type for an array of ArduinoProperty
        (default view)
      example:
      - created_at: 1989-02-10 21:50:38
        deleted_at: 1986-10-07 08:22:10
        href: Molestiae veritatis maiores fugiat consequatur error vitae.
        id: f107703c-b170-47fa-a504-ece3412cc5be
        last_value: 7384484011810122000
        max_value: 0.934796755829885
        min_value: 0.22797089832637085
        name: Veritatis voluptatem molestias repudiandae quia non et.
        permission: Eius blanditiis voluptatibus.
        persist: true
        thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
        type: Sint quam provident magnam ex.
        update_parameter: 0.9108133227344599
        update_strategy: Odit rerum.
        updated_at: 1976-06-15 02:13:21
        value_updated_at: 1975-12-11 02:29:59
        variable_name: Nihil ut assumenda sed fugit.
      - created_at: 1989-02-10 21:50:38
        deleted_at: 1986-10-07 08:22:10
        href: Molestiae veritatis maiores fugiat consequatur error vitae.
        id: f107703c-b170-47fa-a504-ece3412cc5be
        last_value: 7384484011810122000
        max_value: 0.934796755829885
        min_value: 0.22797089832637085
        name: Veritatis voluptatem molestias repudiandae quia non et.
        permission: Eius blanditiis voluptatibus.
        persist: true
        thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
        type: Sint quam provident magnam ex.
        update_parameter: 0.9108133227344599
        update_strategy: Odit rerum.
        updated_at: 1976-06-15 02:13:21
        value_updated_at: 1975-12-11 02:29:59
        variable_name: Nihil ut assumenda sed fugit.
      - created_at: 1989-02-10 21:50:38
        deleted_at: 1986-10-07 08:22:10
        href: Molestiae veritatis maiores fugiat consequatur error vitae.
        id: f107703c-b170-47fa-a504-ece3412cc5be
        last_value: 7384484011810122000
        max_value: 0.934796755829885
        min_value: 0.22797089832637085
        name: Veritatis voluptatem molestias repudiandae quia non et.
        permission: Eius blanditiis voluptatibus.
        persist: true
        thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
        type: Sint quam provident magnam ex.
        update_parameter: 0.9108133227344599
        update_strategy: Odit rerum.
        updated_at: 1976-06-15 02:13:21
        value_updated_at: 1975-12-11 02:29:59
        variable_name: Nihil ut assumenda sed fugit.
      items:
        $ref: '#/components/schemas/ArduinoProperty'
      title: 'Mediatype identifier: application/vnd.arduino.property+json; type=collection;
        view=default'
      type: array
    ArduinoSeriesBatch:
      description: ArduinoSeriesBatch media type (default view)
      example:
        resp_version: 5613636511543308000
        responses:
        - count_values: 851851550549702700
          from_date: 1999-09-13 13:37:37
          interval: 1619240658769318100
          message: Sunt tenetur soluta omnis aliquam eos delectus.
          query: Doloribus voluptate ut maxime in corrupti optio.
          resp_version: 5675835107047086000
          series_limit: 7822583224165287000
          status: Eius quis et aliquam qui dolorum quam.
          times:
          - 1970-06-26 14:03:25
          - 1970-06-26 14:03:25
          - 1970-06-26 14:03:25
          to_date: 1980-10-04 17:34:46
          values:
          - 0.7096323467348542
          - 0.7096323467348542
      properties:
        resp_version:
          description: Response version
          example: 5613636511543308000
          format: int64
          type: integer
        responses:
          description: Responses of the request
          example:
          - count_values: 851851550549702700
            from_date: 1999-09-13 13:37:37
            interval: 1619240658769318100
            message: Sunt tenetur soluta omnis aliquam eos delectus.
            query: Doloribus voluptate ut maxime in corrupti optio.
            resp_version: 5675835107047086000
            series_limit: 7822583224165287000
            status: Eius quis et aliquam qui dolorum quam.
            times:
            - 1970-06-26 14:03:25
            - 1970-06-26 14:03:25
            - 1970-06-26 14:03:25
            to_date: 1980-10-04 17:34:46
            values:
            - 0.7096323467348542
            - 0.7096323467348542
          items:
            $ref: '#/components/schemas/ArduinoSeriesResponse'
          type: array
      required:
      - resp_version
      - responses
      title: 'Mediatype identifier: application/vnd.arduino.series.batch+json; view=default'
      type: object
    ArduinoSeriesRawBatch:
      description: ArduinoSeriesRawBatch media type (default view)
      example:
        resp_version: 2868069847177909000
        responses:
        - count_values: 3226417121431339000
          from_date: 1988-11-09 05:13:38
          message: Minus voluptatum occaecati.
          query: Blanditiis enim eum quaerat fugit.
          resp_version: 8883929672170843000
          series:
            metric: Eius ut vero animi odit est.
          series_limit: 8233079230249179000
          sort: ASC
          status: Qui impedit ipsam est iure laborum distinctio.
          times:
          - 1982-11-25 17:42:45
          to_date: 1986-01-28 11:49:00
          values:
          - false
          - false
          - false
      properties:
        resp_version:
          description: Response version
          example: 2868069847177909000
          format: int64
          type: integer
        responses:
          description: Responses of the request
          example:
          - count_values: 3226417121431339000
            from_date: 1988-11-09 05:13:38
            message: Minus voluptatum occaecati.
            query: Blanditiis enim eum quaerat fugit.
            resp_version: 8883929672170843000
            series:
              metric: Eius ut vero animi odit est.
            series_limit: 8233079230249179000
            sort: ASC
            status: Qui impedit ipsam est iure laborum distinctio.
            times:
            - 1982-11-25 17:42:45
            to_date: 1986-01-28 11:49:00
            values:
            - false
            - false
            - false
          items:
            $ref: '#/components/schemas/ArduinoSeriesRawResponse'
          type: array
      required:
      - resp_version
      - responses
      title: 'Mediatype identifier: application/vnd.arduino.series.raw.batch+json;
        view=default'
      type: object
    ArduinoSeriesRawBatchLastvalue:
      description: ArduinoSeriesRawBatchLastvalue media type (default view)
      example:
        responses:
        - count_values: 3446443929356168000
          property_id: 2be022d2-0d74-4d3c-b801-0cf04d7acbaa
          thing_id: 4af8d410-257d-4c3e-861b-fee43c560926
          times:
          - 1989-12-20 02:26:23
          values:
          - b297f707-638a-47b3-85cc-8f9d8eba0a1f
        - count_values: 3446443929356168000
          property_id: 2be022d2-0d74-4d3c-b801-0cf04d7acbaa
          thing_id: 4af8d410-257d-4c3e-861b-fee43c560926
          times:
          - 1989-12-20 02:26:23
          values:
          - b297f707-638a-47b3-85cc-8f9d8eba0a1f
        - count_values: 3446443929356168000
          property_id: 2be022d2-0d74-4d3c-b801-0cf04d7acbaa
          thing_id: 4af8d410-257d-4c3e-861b-fee43c560926
          times:
          - 1989-12-20 02:26:23
          values:
          - b297f707-638a-47b3-85cc-8f9d8eba0a1f
        status: Minus adipisci sed.
      properties:
        responses:
          description: Responses of the request
          example:
          - count_values: 3446443929356168000
            property_id: 2be022d2-0d74-4d3c-b801-0cf04d7acbaa
            thing_id: 4af8d410-257d-4c3e-861b-fee43c560926
            times:
            - 1989-12-20 02:26:23
            values:
            - b297f707-638a-47b3-85cc-8f9d8eba0a1f
          - count_values: 3446443929356168000
            property_id: 2be022d2-0d74-4d3c-b801-0cf04d7acbaa
            thing_id: 4af8d410-257d-4c3e-861b-fee43c560926
            times:
            - 1989-12-20 02:26:23
            values:
            - b297f707-638a-47b3-85cc-8f9d8eba0a1f
          - count_values: 3446443929356168000
            property_id: 2be022d2-0d74-4d3c-b801-0cf04d7acbaa
            thing_id: 4af8d410-257d-4c3e-861b-fee43c560926
            times:
            - 1989-12-20 02:26:23
            values:
            - b297f707-638a-47b3-85cc-8f9d8eba0a1f
          items:
            $ref: '#/components/schemas/ArduinoSeriesRawLastValueResponse'
          type: array
        status:
          description: Status of the response
          example: Minus adipisci sed.
          type: string
      required:
      - responses
      - status
      title: 'Mediatype identifier: application/vnd.arduino.series.raw.batch.lastvalue+json;
        view=default'
      type: object
    ArduinoSeriesRawLastValueResponse:
      description: ArduinoSeriesRawLastValueResponse media type (default view)
      example:
        count_values: 3446443929356168000
        property_id: 2be022d2-0d74-4d3c-b801-0cf04d7acbaa
        thing_id: 4af8d410-257d-4c3e-861b-fee43c560926
        times:
        - 1989-12-20 02:26:23
        values:
        - b297f707-638a-47b3-85cc-8f9d8eba0a1f
      properties:
        count_values:
          description: Total number of values in the array 'values'
          example: 3446443929356168000
          format: int64
          type: integer
        property_id:
          description: Property id
          example: 2be022d2-0d74-4d3c-b801-0cf04d7acbaa
          format: uuid
          type: string
        thing_id:
          description: Thing id
          example: 4af8d410-257d-4c3e-861b-fee43c560926
          format: uuid
          type: string
        times:
          description: Timestamp in RFC3339
          example:
          - 1989-12-20 02:26:23
          items:
            format: date-time
            type: string
          type: array
        values:
          description: Values can be in Float, String, Bool, Object
          example:
          - b297f707-638a-47b3-85cc-8f9d8eba0a1f
          items:
            example: b297f707-638a-47b3-85cc-8f9d8eba0a1f
          type: array
      required:
      - count_values
      - property_id
      - thing_id
      - times
      - values
      title: 'Mediatype identifier: application/vnd.arduino.series.raw.last.value.response+json;
        view=default'
      type: object
    ArduinoSeriesRawResponse:
      description: ArduinoSeriesRawResponse media type (default view)
      example:
        count_values: 3226417121431339000
        from_date: 1988-11-09 05:13:38
        message: Minus voluptatum occaecati.
        query: Blanditiis enim eum quaerat fugit.
        resp_version: 8883929672170843000
        series:
          metric: Eius ut vero animi odit est.
        series_limit: 8233079230249179000
        sort: ASC
        status: Qui impedit ipsam est iure laborum distinctio.
        times:
        - 1982-11-25 17:42:45
        to_date: 1986-01-28 11:49:00
        values:
        - false
        - false
        - false
      properties:
        count_values:
          description: Total number of values in the array 'values'
          example: 3226417121431339000
          format: int64
          type: integer
        from_date:
          description: From date
          format: date-time
          type: string
        message:
          default: ""
          description: If the response is different than 'ok'
          example: Minus voluptatum occaecati.
          type: string
        query:
          description: Query of for the data
          example: Blanditiis enim eum quaerat fugit.
          type: string
        resp_version:
          description: Response version
          example: 8883929672170843000
          format: int64
          type: integer
        series:
          $ref: '#/components/schemas/BatchQueryRawResponseSeriesMediaV1'
        series_limit:
          description: Max of values
          example: 8233079230249179000
          format: int64
          type: integer
        sort:
          description: Sorting
          enum:
          - ASC
          - DESC
          example: ASC
          type: string
        status:
          description: Status of the response
          example: Qui impedit ipsam est iure laborum distinctio.
          type: string
        times:
          description: Timestamp in RFC3339
          example:
          - 1982-11-25 17:42:45
          items:
            format: date-time
            type: string
          type: array
        to_date:
          description: To date
          format: date-time
          type: string
        values:
          description: Values can be in Float, String, Bool, Object
          example:
          - false
          - false
          - false
          items:
            example: false
          type: array
      required:
      - count_values
      - from_date
      - query
      - resp_version
      - series
      - sort
      - status
      - times
      - to_date
      - values
      title: 'Mediatype identifier: application/vnd.arduino.series.raw.response+json;
        view=default'
      type: object
    ArduinoSeriesResponse:
      description: ArduinoSeriesResponse media type (default view)
      example:
        count_values: 851851550549702700
        from_date: 1999-09-13 13:37:37
        interval: 1619240658769318100
        message: Sunt tenetur soluta omnis aliquam eos delectus.
        query: Doloribus voluptate ut maxime in corrupti optio.
        resp_version: 5675835107047086000
        series_limit: 7822583224165287000
        status: Eius quis et aliquam qui dolorum quam.
        times:
        - 1970-06-26 14:03:25
        - 1970-06-26 14:03:25
        - 1970-06-26 14:03:25
        to_date: 1980-10-04 17:34:46
        values:
        - 0.7096323467348542
        - 0.7096323467348542
      properties:
        count_values:
          description: Total number of values in the array 'values'
          example: 851851550549702700
          format: int64
          type: integer
        from_date:
          description: From date
          format: date-time
          type: string
        interval:
          description: Resolution in seconds
          example: 1619240658769318100
          format: int64
          type: integer
        message:
          default: ""
          description: If the response is different than 'ok'
          example: Sunt tenetur soluta omnis aliquam eos delectus.
          type: string
        query:
          description: Query of for the data
          example: Doloribus voluptate ut maxime in corrupti optio.
          type: string
        resp_version:
          description: Response version
          example: 5675835107047086000
          format: int64
          type: integer
        series_limit:
          description: Max of values
          example: 7822583224165287000
          format: int64
          type: integer
        status:
          description: Status of the response
          example: Eius quis et aliquam qui dolorum quam.
          type: string
        times:
          description: Timestamp in RFC3339
          example:
          - 1970-06-26 14:03:25
          - 1970-06-26 14:03:25
          - 1970-06-26 14:03:25
          items:
            format: date-time
            type: string
          type: array
        to_date:
          description: To date
          format: date-time
          type: string
        values:
          description: Values in Float
          example:
          - 0.7096323467348542
          - 0.7096323467348542
          items:
            example: 0.7096323467348542
            format: double
            type: number
          type: array
      required:
      - count_values
      - from_date
      - interval
      - query
      - resp_version
      - status
      - times
      - to_date
      - values
      title: 'Mediatype identifier: application/vnd.arduino.series.response+json;
        view=default'
      type: object
    ArduinoThing:
      description: ArduinoThing media type (default view)
      example:
        created_at: 1996-08-08 19:57:38
        deleted_at: 1990-10-20 07:21:28
        device_id: 1ca0e199-407c-4f5f-914d-ee6cd6b8c580
        href: Enim perspiciatis.
        id: 84f2478b-00de-436e-b01e-b600b2a69d21
        name: Recusandae in dolores sit impedit.
        properties:
        - created_at: 1989-02-10 21:50:38
          deleted_at: 1986-10-07 08:22:10
          href: Molestiae veritatis maiores fugiat consequatur error vitae.
          id: f107703c-b170-47fa-a504-ece3412cc5be
          last_value: 7384484011810122000
          max_value: 0.934796755829885
          min_value: 0.22797089832637085
          name: Veritatis voluptatem molestias repudiandae quia non et.
          permission: Eius blanditiis voluptatibus.
          persist: true
          thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
          type: Sint quam provident magnam ex.
          update_parameter: 0.9108133227344599
          update_strategy: Odit rerum.
          updated_at: 1976-06-15 02:13:21
          value_updated_at: 1975-12-11 02:29:59
          variable_name: Nihil ut assumenda sed fugit.
        - created_at: 1989-02-10 21:50:38
          deleted_at: 1986-10-07 08:22:10
          href: Molestiae veritatis maiores fugiat consequatur error vitae.
          id: f107703c-b170-47fa-a504-ece3412cc5be
          last_value: 7384484011810122000
          max_value: 0.934796755829885
          min_value: 0.22797089832637085
          name: Veritatis voluptatem molestias repudiandae quia non et.
          permission: Eius blanditiis voluptatibus.
          persist: true
          thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
          type: Sint quam provident magnam ex.
          update_parameter: 0.9108133227344599
          update_strategy: Odit rerum.
          updated_at: 1976-06-15 02:13:21
          value_updated_at: 1975-12-11 02:29:59
          variable_name: Nihil ut assumenda sed fugit.
        - created_at: 1989-02-10 21:50:38
          deleted_at: 1986-10-07 08:22:10
          href: Molestiae veritatis maiores fugiat consequatur error vitae.
          id: f107703c-b170-47fa-a504-ece3412cc5be
          last_value: 7384484011810122000
          max_value: 0.934796755829885
          min_value: 0.22797089832637085
          name: Veritatis voluptatem molestias repudiandae quia non et.
          permission: Eius blanditiis voluptatibus.
          persist: true
          thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
          type: Sint quam provident magnam ex.
          update_parameter: 0.9108133227344599
          update_strategy: Odit rerum.
          updated_at: 1976-06-15 02:13:21
          value_updated_at: 1975-12-11 02:29:59
          variable_name: Nihil ut assumenda sed fugit.
        properties_count: 0.5358556143241109
        sketch_id: 384d49c6-d7b2-4ddb-836a-d426906300a7
        updated_at: 1971-06-05 01:14:12
        user_id: 849fa638-b404-439f-9d25-20fa59d9050a
        webhook_active: false
        webhook_uri: Sint vel incidunt sunt.
      properties:
        created_at:
          description: Creation date of the thing
          format: date-time
          type: string
        deleted_at:
          description: Delete date of the thing
          format: date-time
          type: string
        device_id:
          description: The arn of the device
          example: 1ca0e199-407c-4f5f-914d-ee6cd6b8c580
          format: uuid
          type: string
        href:
          description: The api reference of this thing
          example: Enim perspiciatis.
          type: string
        id:
          description: The id of the thing
          example: 84f2478b-00de-436e-b01e-b600b2a69d21
          format: uuid
          type: string
        name:
          description: The friendly name of the thing
          example: Recusandae in dolores sit impedit.
          type: string
        properties:
          description: ArduinoPropertyCollection is the media type for an array of
            ArduinoProperty (default view)
          example:
          - created_at: 1989-02-10 21:50:38
            deleted_at: 1986-10-07 08:22:10
            href: Molestiae veritatis maiores fugiat consequatur error vitae.
            id: f107703c-b170-47fa-a504-ece3412cc5be
            last_value: 7384484011810122000
            max_value: 0.934796755829885
            min_value: 0.22797089832637085
            name: Veritatis voluptatem molestias repudiandae quia non et.
            permission: Eius blanditiis voluptatibus.
            persist: true
            thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
            type: Sint quam provident magnam ex.
            update_parameter: 0.9108133227344599
            update_strategy: Odit rerum.
            updated_at: 1976-06-15 02:13:21
            value_updated_at: 1975-12-11 02:29:59
            variable_name: Nihil ut assumenda sed fugit.
          - created_at: 1989-02-10 21:50:38
            deleted_at: 1986-10-07 08:22:10
            href: Molestiae veritatis maiores fugiat consequatur error vitae.
            id: f107703c-b170-47fa-a504-ece3412cc5be
            last_value: 7384484011810122000
            max_value: 0.934796755829885
            min_value: 0.22797089832637085
            name: Veritatis voluptatem molestias repudiandae quia non et.
            permission: Eius blanditiis voluptatibus.
            persist: true
            thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
            type: Sint quam provident magnam ex.
            update_parameter: 0.9108133227344599
            update_strategy: Odit rerum.
            updated_at: 1976-06-15 02:13:21
            value_updated_at: 1975-12-11 02:29:59
            variable_name: Nihil ut assumenda sed fugit.
          - created_at: 1989-02-10 21:50:38
            deleted_at: 1986-10-07 08:22:10
            href: Molestiae veritatis maiores fugiat consequatur error vitae.
            id: f107703c-b170-47fa-a504-ece3412cc5be
            last_value: 7384484011810122000
            max_value: 0.934796755829885
            min_value: 0.22797089832637085
            name: Veritatis voluptatem molestias repudiandae quia non et.
            permission: Eius blanditiis voluptatibus.
            persist: true
            thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
            type: Sint quam provident magnam ex.
            update_parameter: 0.9108133227344599
            update_strategy: Odit rerum.
            updated_at: 1976-06-15 02:13:21
            value_updated_at: 1975-12-11 02:29:59
            variable_name: Nihil ut assumenda sed fugit.
          items:
            $ref: '#/components/schemas/ArduinoProperty'
          title: 'Mediatype identifier: application/vnd.arduino.property+json; type=collection;
            view=default'
          type: array
        properties_count:
          description: The number of properties of the thing
          example: 0.5358556143241109
          format: double
          type: number
        sketch_id:
          description: The id of the attached sketch
          example: 384d49c6-d7b2-4ddb-836a-d426906300a7
          format: uuid
          type: string
        updated_at:
          description: Update date of the thing
          format: date-time
          type: string
        user_id:
          description: The user id of the owner
          example: 849fa638-b404-439f-9d25-20fa59d9050a
          format: uuid
          type: string
        webhook_active:
          description: Webhook uri
          example: false
          type: boolean
        webhook_uri:
          description: Webhook uri
          example: Sint vel incidunt sunt.
          type: string
      required:
      - href
      - id
      - name
      - user_id
      title: 'Mediatype identifier: application/vnd.arduino.thing+json; view=default'
      type: object
    ArduinoThingCollection:
      description: ArduinoThingCollection is the media type for an array of ArduinoThing
        (default view)
      example:
      - created_at: 1996-08-08 19:57:38
        deleted_at: 1990-10-20 07:21:28
        device_id: 1ca0e199-407c-4f5f-914d-ee6cd6b8c580
        href: Enim perspiciatis.
        id: 84f2478b-00de-436e-b01e-b600b2a69d21
        name: Recusandae in dolores sit impedit.
        properties:
        - created_at: 1989-02-10 21:50:38
          deleted_at: 1986-10-07 08:22:10
          href: Molestiae veritatis maiores fugiat consequatur error vitae.
          id: f107703c-b170-47fa-a504-ece3412cc5be
          last_value: 7384484011810122000
          max_value: 0.934796755829885
          min_value: 0.22797089832637085
          name: Veritatis voluptatem molestias repudiandae quia non et.
          permission: Eius blanditiis voluptatibus.
          persist: true
          thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
          type: Sint quam provident magnam ex.
          update_parameter: 0.9108133227344599
          update_strategy: Odit rerum.
          updated_at: 1976-06-15 02:13:21
          value_updated_at: 1975-12-11 02:29:59
          variable_name: Nihil ut assumenda sed fugit.
        - created_at: 1989-02-10 21:50:38
          deleted_at: 1986-10-07 08:22:10
          href: Molestiae veritatis maiores fugiat consequatur error vitae.
          id: f107703c-b170-47fa-a504-ece3412cc5be
          last_value: 7384484011810122000
          max_value: 0.934796755829885
          min_value: 0.22797089832637085
          name: Veritatis voluptatem molestias repudiandae quia non et.
          permission: Eius blanditiis voluptatibus.
          persist: true
          thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
          type: Sint quam provident magnam ex.
          update_parameter: 0.9108133227344599
          update_strategy: Odit rerum.
          updated_at: 1976-06-15 02:13:21
          value_updated_at: 1975-12-11 02:29:59
          variable_name: Nihil ut assumenda sed fugit.
        - created_at: 1989-02-10 21:50:38
          deleted_at: 1986-10-07 08:22:10
          href: Molestiae veritatis maiores fugiat consequatur error vitae.
          id: f107703c-b170-47fa-a504-ece3412cc5be
          last_value: 7384484011810122000
          max_value: 0.934796755829885
          min_value: 0.22797089832637085
          name: Veritatis voluptatem molestias repudiandae quia non et.
          permission: Eius blanditiis voluptatibus.
          persist: true
          thing_id: dca063c5-4f38-46a6-b02a-a52a9dc77eb9
          type: Sint quam provident magnam ex.
          update_parameter: 0.9108133227344599
          update_strategy: Odit rerum.
          updated_at: 1976-06-15 02:13:21
          value_updated_at: 1975-12-11 02:29:59
          variable_name: Nihil ut assumenda sed fugit.
        properties_count: 0.5358556143241109
        sketch_id: 384d49c6-d7b2-4ddb-836a-d426906300a7
        updated_at: 1971-06-05 01:14:12
        user_id: 849fa638-b404-439f-9d25-20fa59d9050a
        webhook_active: false
        webhook_uri: Sint vel incidunt sunt.
      items:
        $ref: '#/components/schemas/ArduinoThing'
      title: 'Mediatype identifier: application/vnd.arduino.thing+json; type=collection;
        view=default'
      type: array
    BatchLastValueRequestsMediaV1:
      example:
        requests:
        - property_id: 63715088-d2b5-4b91-b06f-3bfb1b813555
          thing_id: afcf2f51-5a24-479e-9a3c-e8bbe3d1fa13
      properties:
        requests:
          description: Requests
          example:
          - property_id: 63715088-d2b5-4b91-b06f-3bfb1b813555
            thing_id: afcf2f51-5a24-479e-9a3c-e8bbe3d1fa13
          items:
            $ref: '#/components/schemas/BatchQueryRawLastValueRequestMediaV1'
          type: array
      required:
      - requests
      title: BatchLastValueRequestsMediaV1
      type: object
    BatchQueryRawLastValueRequestMediaV1:
      example:
        property_id: 63715088-d2b5-4b91-b06f-3bfb1b813555
        thing_id: afcf2f51-5a24-479e-9a3c-e8bbe3d1fa13
      properties:
        property_id:
          description: Property id
          example: 63715088-d2b5-4b91-b06f-3bfb1b813555
          format: uuid
          type: string
        thing_id:
          description: Thing id
          example: afcf2f51-5a24-479e-9a3c-e8bbe3d1fa13
          format: uuid
          type: string
      required:
      - property_id
      - thing_id
      title: BatchQueryRawLastValueRequestMediaV1
      type: object
    BatchQueryRawRequestMediaV1:
      example:
        from: 1992-07-30 22:02:50
        q: Doloremque quibusdam doloribus.
        series_limit: 785550034178255100
        sort: ASC
        to: 1987-01-01 02:00:22
      properties:
        from:
          description: From timestamp
          format: date-time
          type: string
        q:
          description: Query
          example: Doloremque quibusdam doloribus.
          type: string
        series_limit:
          description: Max of values
          example: 785550034178255100
          format: int64
          type: integer
        sort:
          default: DESC
          description: Sorting
          enum:
          - ASC
          - DESC
          example: ASC
          type: string
        to:
          description: To timestamp
          format: date-time
          type: string
      required:
      - q
      title: BatchQueryRawRequestMediaV1
      type: object
    BatchQueryRawRequestsMediaV1:
      example:
        requests:
        - from: 1992-07-30 22:02:50
          q: Doloremque quibusdam doloribus.
          series_limit: 785550034178255100
          sort: ASC
          to: 1987-01-01 02:00:22
        - from: 1992-07-30 22:02:50
          q: Doloremque quibusdam doloribus.
          series_limit: 785550034178255100
          sort: ASC
          to: 1987-01-01 02:00:22
        resp_version: 689977076942724500
      properties:
        requests:
          description: Requests
          example:
          - from: 1992-07-30 22:02:50
            q: Doloremque quibusdam doloribus.
            series_limit: 785550034178255100
            sort: ASC
            to: 1987-01-01 02:00:22
          - from: 1992-07-30 22:02:50
            q: Doloremque quibusdam doloribus.
            series_limit: 785550034178255100
            sort: ASC
            to: 1987-01-01 02:00:22
          items:
            $ref: '#/components/schemas/BatchQueryRawRequestMediaV1'
          type: array
        resp_version:
          description: Response version
          example: 689977076942724500
          format: int64
          type: integer
      required:
      - requests
      - resp_version
      title: BatchQueryRawRequestsMediaV1
      type: object
    BatchQueryRawResponseSeriesMediaV1:
      example:
        metric: Eius ut vero animi odit est.
      properties:
        metric:
          description: Metric name
          example: Eius ut vero animi odit est.
          type: string
      required:
      - metric
      title: BatchQueryRawResponseSeriesMediaV1
      type: object
    BatchQueryRequestMediaV1:
      example:
        from: 2002-10-01 18:48:54
        interval: 5612543483505391000
        q: Ut nihil.
        series_limit: 6393854859798431000
        to: 2003-11-19 16:29:01
      properties:
        from:
          description: From timestamp
          format: date-time
          type: string
        interval:
          description: Resolution in seconds
          example: 5612543483505391000
          format: int64
          type: integer
        q:
          description: Query
          example: Ut nihil.
          type: string
        series_limit:
          description: Max of values
          example: 6393854859798431000
          format: int64
          type: integer
        to:
          description: To timestamp
          format: date-time
          type: string
      required:
      - from
      - q
      - to
      title: BatchQueryRequestMediaV1
      type: object
    BatchQueryRequestsMediaV1:
      example:
        requests:
        - from: 2002-10-01 18:48:54
          interval: 5612543483505391000
          q: Ut nihil.
          series_limit: 6393854859798431000
          to: 2003-11-19 16:29:01
        - from: 2002-10-01 18:48:54
          interval: 5612543483505391000
          q: Ut nihil.
          series_limit: 6393854859798431000
          to: 2003-11-19 16:29:01
        - from: 2002-10-01 18:48:54
          interval: 5612543483505391000
          q: Ut nihil.
          series_limit: 6393854859798431000
          to: 2003-11-19 16:29:01
        resp_version: 6095309048300083000
      properties:
        requests:
          description: Requests
          example:
          - from: 2002-10-01 18:48:54
            interval: 5612543483505391000
            q: Ut nihil.
            series_limit: 6393854859798431000
            to: 2003-11-19 16:29:01
          - from: 2002-10-01 18:48:54
            interval: 5612543483505391000
            q: Ut nihil.
            series_limit: 6393854859798431000
            to: 2003-11-19 16:29:01
          - from: 2002-10-01 18:48:54
            interval: 5612543483505391000
            q: Ut nihil.
            series_limit: 6393854859798431000
            to: 2003-11-19 16:29:01
          items:
            $ref: '#/components/schemas/BatchQueryRequestMediaV1'
          type: array
        resp_version:
          description: Response version
          example: 6095309048300083000
          format: int64
          type: integer
      required:
      - requests
      - resp_version
      title: BatchQueryRequestsMediaV1
      type: object
    CreateDevicesV2Payload:
      description: DeviceV2 describes a device.
      example:
        id: 31f07f13-7477-404e-9f88-bcd93a23dbb0
        name: 9cejjzz3hn
        serial: b068uq00ks
        type: w0rbkookyt
        user_id: b2bf3423-1448-41e6-85f3-025ff8718f58
      properties:
        id:
          description: The UUID of the device
          example: 31f07f13-7477-404e-9f88-bcd93a23dbb0
          format: uuid
          type: string
        name:
          description: The friendly name of the device
          example: 9cejjzz3hn
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        serial:
          description: The serial uuid of the device
          example: b068uq00ks
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        type:
          description: The type of the device
          example: w0rbkookyt
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        user_id:
          description: The user_id associated to the device. If absent it will be
            inferred from the authentication header
          example: b2bf3423-1448-41e6-85f3-025ff8718f58
          format: uuid
          type: string
      required:
      - type
      title: CreateDevicesV2Payload
      type: object
    CreateThingsV2Payload:
      description: ThingPayload describes a thing
      example:
        device_id: e7a873b5-f0ac-4bbd-9e67-165ae7992ee6
        id: 2b38ffaf-db9c-4b8e-a6ba-72a98ad2b859
        name: fje4vlfwmz
        webhook_active: true
        webhook_uri: http://west.net/neil.wuckert
      properties:
        device_id:
          description: The arn of the associated device
          example: e7a873b5-f0ac-4bbd-9e67-165ae7992ee6
          format: uuid
          type: string
        id:
          description: The id of the thing
          example: 2b38ffaf-db9c-4b8e-a6ba-72a98ad2b859
          format: uuid
          type: string
        name:
          description: The friendly name of the thing
          example: fje4vlfwmz
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        webhook_active:
          description: Webhook uri
          example: true
          type: boolean
        webhook_uri:
          description: Webhook uri
          example: http://west.net/neil.wuckert
          format: uri
          type: string
      required:
      - name
      title: CreateThingsV2Payload
      type: object
    devicev2:
      description: DeviceV2 describes a device.
      example:
        id: 31f07f13-7477-404e-9f88-bcd93a23dbb0
        name: 9cejjzz3hn
        serial: b068uq00ks
        type: w0rbkookyt
        user_id: b2bf3423-1448-41e6-85f3-025ff8718f58
      properties:
        id:
          description: The UUID of the device
          example: 31f07f13-7477-404e-9f88-bcd93a23dbb0
          format: uuid
          type: string
        name:
          description: The friendly name of the device
          example: 9cejjzz3hn
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        serial:
          description: The serial uuid of the device
          example: b068uq00ks
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        type:
          description: The type of the device
          example: w0rbkookyt
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        user_id:
          description: The user_id associated to the device. If absent it will be
            inferred from the authentication header
          example: b2bf3423-1448-41e6-85f3-025ff8718f58
          format: uuid
          type: string
      title: devicev2
      type: object
    error:
      description: Error response media type (default view)
      example:
        code: invalid_value
        detail: Value of ID must be an integer
        id: 3F1FKVRR
        meta:
          timestamp: 1458609066
        status: 400
      properties:
        code:
          description: an application-specific error code, expressed as a string value.
          example: invalid_value
          type: string
        detail:
          description: a human-readable explanation specific to this occurrence of
            the problem.
          example: Value of ID must be an integer
          type: string
        id:
          description: a unique identifier for this particular occurrence of the problem.
          example: 3F1FKVRR
          type: string
        meta:
          additionalProperties: true
          description: a meta object containing non-standard meta-information about
            the error.
          example:
            timestamp: 1458609066
          type: object
        status:
          description: the HTTP status code applicable to this problem
          example: 400
          format: int64
          type: integer
      title: 'Mediatype identifier: application/vnd.goa.error+json; view=default'
      type: object
    propertiesValue:
      example:
        name: Qui dicta qui in dolore soluta reiciendis.
        type: json
        value: 0.17477107288756727
      properties:
        name:
          description: The name of the property
          example: Qui dicta qui in dolore soluta reiciendis.
          type: string
        type:
          default: infer
          description: The type of the property
          enum:
          - infer
          - base64
          - hex
          - json
          example: json
          type: string
        value:
          description: The last value of the property
          example: 0.17477107288756727
      required:
      - name
      - type
      - value
      title: propertiesValue
      type: object
    propertiesValues:
      example:
        properties:
        - name: Qui dicta qui in dolore soluta reiciendis.
          type: json
          value: 0.17477107288756727
        - name: Qui dicta qui in dolore soluta reiciendis.
          type: json
          value: 0.17477107288756727
        - name: Qui dicta qui in dolore soluta reiciendis.
          type: json
          value: 0.17477107288756727
      properties:
        properties:
          example:
          - name: Qui dicta qui in dolore soluta reiciendis.
            type: json
            value: 0.17477107288756727
          - name: Qui dicta qui in dolore soluta reiciendis.
            type: json
            value: 0.17477107288756727
          - name: Qui dicta qui in dolore soluta reiciendis.
            type: json
            value: 0.17477107288756727
          items:
            $ref: '#/components/schemas/propertiesValue'
          type: array
      required:
      - properties
      title: propertiesValues
      type: object
    property:
      description: PropertyPayload describes a property of a thing. No field is mandatory
      example:
        max_value: 0.47757927788576215
        min_value: 0.1926071192979542
        name: Magnam quo consequatur.
        permission: READ_WRITE
        persist: true
        type: GENERIC_COMPLEX_PROPERTY
        update_parameter: 0.3069002277200649
        update_strategy: ON_CHANGE
        variable_name: 0ajvuowy6s
      properties:
        max_value:
          description: Maximum value of this property
          example: 0.47757927788576215
          format: double
          type: number
        min_value:
          description: Minimum value of this property
          example: 0.1926071192979542
          format: double
          type: number
        name:
          description: The friendly name of the property
          example: Magnam quo consequatur.
          type: string
        permission:
          description: The permission of the property
          enum:
          - READ_ONLY
          - READ_WRITE
          example: READ_WRITE
          type: string
        persist:
          default: false
          description: If true, data will persist into a timeseries database
          example: true
          type: boolean
        type:
          description: The type of the property
          enum:
          - ANALOG
          - CHARSTRING
          - FLOAT
          - INT
          - LENGHT_C
          - LENGHT_I
          - LENGHT_M
          - PERCENTAGE
          - STATUS
          - TEMPERATURE_C
          - TEMPERATURE_F
          - METER
          - KILOGRAM
          - GRAM
          - SECOND
          - AMPERE
          - KELVIN
          - CANDELA
          - MOLE
          - HERTZ
          - RADIAN
          - STERADIAN
          - NEWTON
          - PASCAL
          - JOULE
          - WATT
          - COULOMB
          - VOLT
          - FARAD
          - OHM
          - SIEMENS
          - WEBER
          - TESLA
          - HENRY
          - DEGREES_CELSIUS
          - LUMEN
          - LUX
          - BECQUEREL
          - GRAY
          - SIEVERT
          - KATAL
          - SQUARE_METER
          - CUBIC_METER
          - LITER
          - METER_PER_SECOND
          - METER_PER_SQUARE_SECOND
          - CUBIC_METER_PER_SECOND
          - LITER_PER_SECOND
          - WATT_PER_SQUARE_METER
          - CANDELA_PER_SQUARE_METER
          - BIT
          - BIT_PER_SECOND
          - DEGREES_LATITUDE
          - DEGREES_LONGITUDE
          - PH_VALUE
          - DECIBEL
          - DECIBEL_1W
          - BEL
          - COUNT
          - RATIO_DIV
          - RATIO_MOD
          - PERCENTAGE_RELATIVE_HUMIDITY
          - PERCENTAGE_BATTERY_LEVEL
          - SECONDS_BATTERY_LEVEL
          - EVENT_RATE_SECOND
          - EVENT_RATE_MINUTE
          - HEART_RATE
          - HEART_BEATS
          - SIEMENS_PER_METER
          - LOCATION
          - COLOR_HSB
          - COLOR_RGB
          - GENERIC_COMPLEX_PROPERTY
          - HOME_COLORED_LIGHT
          - HOME_DIMMERED_LIGHT
          - HOME_LIGHT
          - HOME_CONTACT_SENSOR
          - HOME_MOTION_SENSOR
          - HOME_SMART_PLUG
          - HOME_TEMPERATURE
          - HOME_SWITCH
          example: GENERIC_COMPLEX_PROPERTY
          type: string
        update_parameter:
          description: The update frequency in seconds, or the amount of the property
            has to change in order to trigger an update
          example: 0.3069002277200649
          format: double
          type: number
        update_strategy:
          description: The update strategy for the property value
          enum:
          - ON_CHANGE
          - TIMED
          example: ON_CHANGE
          type: string
        variable_name:
          description: The  sketch variable name of the property
          example: 0ajvuowy6s
          maxLength: 64
          pattern: ^[a-zA-Z_][a-zA-Z0-9_]*$
          type: string
      required:
      - name
      - permission
      - type
      - update_strategy
      title: property
      type: object
    propertyValue:
      description: PropertyValuePayload describes a property value
      example:
        device_id: 091242ad-6bda-4a77-bde6-c9b43d3488c3
        value: 0.30138217417885704
      properties:
        device_id:
          description: The device who send the property
          example: 091242ad-6bda-4a77-bde6-c9b43d3488c3
          format: uuid
          type: string
        value:
          description: The property value
          example: 0.30138217417885704
      required:
      - value
      title: propertyValue
      type: object
    thing:
      description: ThingPayload describes a thing
      example:
        device_id: e7a873b5-f0ac-4bbd-9e67-165ae7992ee6
        id: 2b38ffaf-db9c-4b8e-a6ba-72a98ad2b859
        name: fje4vlfwmz
        webhook_active: true
        webhook_uri: http://west.net/neil.wuckert
      properties:
        device_id:
          description: The arn of the associated device
          example: e7a873b5-f0ac-4bbd-9e67-165ae7992ee6
          format: uuid
          type: string
        id:
          description: The id of the thing
          example: 2b38ffaf-db9c-4b8e-a6ba-72a98ad2b859
          format: uuid
          type: string
        name:
          description: The friendly name of the thing
          example: fje4vlfwmz
          maxLength: 64
          pattern: '[a-zA-Z0-9_.@-]+'
          type: string
        webhook_active:
          description: Webhook uri
          example: true
          type: boolean
        webhook_uri:
          description: Webhook uri
          example: http://west.net/neil.wuckert
          format: uri
          type: string
      title: thing
      type: object
    thingSketch:
      description: ThingSketchPayload describes a sketch of a thing
      example:
        pass: Omnis occaecati aut iure.
        ssid: Dolore excepturi rem.
      properties:
        pass:
          description: The wifi password
          example: Omnis occaecati aut iure.
          type: string
        ssid:
          description: The wifi ssid to connect
          example: Dolore excepturi rem.
          type: string
      title: thingSketch
      type: object
    ArduinoDevicev2propertyvalue_value_statistics:
      example: '{"adr":0.13561737572509147,"channel":0.3902353259273426,"duplicate":0.5028846468947827,"freq":0.7126670896862375,"modBW":0.863865814062173,"rssi":0.5253658020227948,"seqno":0.13888126585007018,"sf":0.763900217608657,"snr":0.035072020695238175,"time":0.8941566755879066}'
      properties:
        adr:
          example: 0.13561737572509147
          format: double
          type: number
        channel:
          example: 0.3902353259273426
          format: double
[...]
